<html>
<head>
</head>
<body>
    <div>
        <p><label>Dear Sanctioning Team,</label>&nbsp;</p>
        <p><label>Please be advised that a New Credit Application Request: <b>@AccountNo</b> for <b>@CustName</b> has been uploaded in COSACS.</label></p>
        <p><label>Kindly verify the customer&rsquo;s information and review their Application.</label>&nbsp;</p>
        <p><a href="@ImageLink" target="_blank">Click here to view uploaded images.</a></p>
        <p><label>Disclaimer: This is a system generated email. Please do not reply to this email.</label></p>
        <p>&nbsp;</p>
        <p><label>Regards,</label></p>
        <p><label>EMMA Credit</label></p>
        <p><!--EndFragment --></p>
    </div>
</body>
</html>

