<html>
<head>
</head>
<body>
	<div>
		<p><label>Dear Sanctioning Team,</label>&nbsp;</p>
		<p><label>Please be advised that a new credit application for third party: <b>@AccountNo</b> for <b>@CustName</b> has been uploaded in COSACS and auto approved.</label></p>
		<p><label>Application was created based on previous information provided by the customer.</label>&nbsp;</p>
		<p><label><b>Comments:</b> @Note</label>&nbsp;</p>
		<p><label><b>Disclaimer:</b> This is a system generated email. Please do not reply to this email.</label></p>
		<p><label><b>*** This account is generated through EMMA. ***</b></label></p>
		<p>&nbsp;</p>
		<p><label>Regards,</label></p>
		<p><label>EMMA Credit</label></p>
		<p><!--EndFragment --></p>
	</div>
</body>
</html>

