<html>
<head>
</head>
<body>
    <div>
        <p><label>Dear <b>@FirstName</b>,</label>&nbsp;</p>
        <p><label>Please find attached a copy of your contract. This contract contains your account number and installment amount,</label></p>
        <p><label>based on what was previously selected in the EMMA app.</label>&nbsp;</p>
        <p>&nbsp;</p>
        <p><label>Regards,</label></p>
        <p><label>EMMA</label></p>
        <img src="@LogoImage">
        <p><label>NOTE: This is a system generated e-mail. Please do not reply to this e-mail.</label></p>
        <p><!--EndFragment --></p>
    </div>
</body>
</html>