<div data-module="merchandising/stockAllocation/init" ng-controller="StockAllocationSearchCtrl" ng-cloak class="buffer-sm bottom">
    <div class="buffer-sm top" ng-form="searchForm">
        <div class="row buffer-sm bottom">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button id="buttonClear" class="clear btn btn-default" ng-click="paginator.reset()">Clear</button>
                    <button class="btn btn-primary" ng-click="paginator.get()" ng-disabled="paginator.loading()">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="bookingId">Shipment Id</label>
                    <input class="form-control" pb-integer name="bookingId" ng-model="query.bookingId"/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sku">Involves SKU</label>
                    <input class="form-control" name="sku" ng-model="query.sku" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="createdFrom">Created From</label>
                    <input class="form-control" name="createdFrom" ng-model="query.createdFrom" type="date" placeholder="Select Date" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="createdTo">Created To</label>
                    <input class="form-control" name="createdTo" ng-model="query.createdTo" type="date" placeholder="Select Date" />
                </div>
            </div>
        </div>
        <div class="row buffer-sm bottom">
            <div class="col-lg-3">
                <label for="warehouseLocation">Warehouse Location</label>
                <list name="warehouseLocation" ng-model="query.warehouseLocationId" scope="warehouses" placeholder="Select a Warehouse"></list>
            </div>
            <div class="col-lg-3">
                <label for="receivingLocation">Receiving Location</label>
                <list name="receivingLocation" ng-model="query.receivingLocationId" scope="locations" placeholder="Select a Location"></list>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="status">Status</label> 
                    <list name="status" ng-model="statusId" ng-change="updateStatus()" scope="statusOptions" placeholder="Select a Status"></list>
                </div>
            </div>
        </div>

        <pb-pagination get="search" params="query" default-params="clear" control="paginator" no-results-message="There are no results matching the query.">
            <table class="table table-striped table-bordered table-hover table-responsive active pb-table pb-search">
                <thead>
                <tr>
                    <th class="col-sm">Shipment Id</th>
                    <th class="col-md">Location</th>
                    <th class="col-sm">Product</th>
                    <th class="col-sm quantity">Pending</th>
                    <th class="col-sm quantity">Received</th>
                    <th class="col-sm quantity">Cancelled</th>
                    <th class="col-sm currency">Total Cost</th>
                    <th class="col-sm date">Created</th>
                    <th class="col-sm">Comments</th>
                    <th class="col-sm">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in paginator.page">
                    <td class="text-right"><a href="{{resolve('Warehouse/Bookings/detail/') + result.bookingId}}">#{{result.bookingId}}</a></td>
                    <td>Warehouse: <a href="{{resolve('Merchandising/Locations/Detail/') + result.warehouseLocationId}}">{{result.warehouseLocation}}</a><br />Recipient: <a href="{{resolve('Merchandising/Locations/Detail/') + result.receivingLocationId}}">{{result.receivingLocation}}</a></td>
                    <td><a href="{{resolve('Merchandising/Products/Details/') + result.productId}}">{{result.sku}}</a><br />
                        {{result.longDescription}}
                    </td>
                    <td class="quantity">{{result.quantity - (result.quantityCancelled + result.quantityReceived)}}</td>
                    <td class="quantity">{{result.quantityReceived || 0}}</td>
                    <td class="quantity">{{result.quantityCancelled || 0}}</td>
                    <td class="currency">{{(result.averageWeightedCost * result.quantity) | pbCurrency}}</td>
                    <td class="date">{{result.createdBy}}<br />{{result.createdDate | pbDate : true}}</td>
                    <td><p class="pb-text" pb-ref-link ng-model="result.comments"></p></td>
                    <td>{{result.status}}</td>
                </tr>
                </tbody>
            </table>
        </pb-pagination>
        
    </div>
</div>
