@model Blue.Cosacs.Web.Models.RecoverPassword
@{
    ViewBag.Title = "Reset Password";
}
<style type="text/css">
    #username { background-color: #ddd; }
</style>
<div id="recoverPassword" data-module="recoverPassword">
    <div class="logo"></div>
    <div class="center">
        @if (!this.Model.RequestExpired)
        {
        <div class="row">
        <div id="mainContent" class="col-lg-6 col-lg-offset-3">
            <div id="divErrorWrapper" class="divErrorWrapper">
                <div id="divError" class="alert text-center">&nbsp;</div>
            </div>

            <form class="form-horizontal" id="formRecoverPassword" method="post" action="@Url.Action("Index", "Login", new { area = "" })">
                <div class="failed field-validation-error" style="text-align: center;" visibility= "hidden">
                </div>
                <fieldset class="dummy">
                    <input type="hidden" id="hiddenToken" value="@ViewBag.Token" />
                    <div class="form-group">
                        <label class="col col-lg-6 control-label" for="username">User</label>
                        <div class="col col-lg-4">
                            <input class="form-control" type="text" name="username" id="username" value="@ViewBag.UserName" />
                        </div>
                    </div>
                <div id="divConfirmChangePass">
                    <div class="form-group">
                        <label class="col col-lg-6 control-label" for="newPassword">New Password</label>
                        <div class="col col-lg-4">
                            <input class="form-control" type="password" name="newPassword" id="newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col col-lg-6 control-label" for="confirmPassword">Confirm Password</label>
                        <div class="col col-lg-4">
                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" />
                        </div>
                    </div>
                    
                </div>                
              </fieldset>
            </form>

             </div>
    </div>

    <div class="row">
        <div id="mainContent" class="col-lg-6 col-lg-offset-3">            
            <form method="post" id="recover-password" class="form-horizontal">
                <div class="col col-lg-6 text-right">                   
                </div>
                <div class="col col-lg-6">
                    <button class="btn btn-primary login" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-danger text-center">The password reset link is invalid or expired.</div>
                </div>
            </div>
        }
    </div>
    <div style="clear: both">
    </div>
</div>
@section Script
{
<script>
    require(['spa'], function (spa) {
        spa.recPass();
    }); 
</script>
}
