<div class="panel panel-default result search-result" data-request-id="{{result.ProductId}}" ng-repeat="result in displayResults">
    <div class="Booking-Columnn panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <span class="resultType">Promotion</span>
                <a href="{{url('Merchandising/Promotion/Detail/' + result.PromotionId)}}">{{result.Name}}</a>
            </div>
            <div class="col-lg-3">
                <strong>From:</strong> <span>{{result.StartDate | pbDate}}</span>
            </div>
            <div class="col-lg-3">
                <strong> To:</strong> <span>{{result.EndDate | pbDate }}</span>
            </div>
        </div>
    </div>
    <div class="panel-body centre-section">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div><b>Promotion Type</b></div>
                    </div>
                    <div class="col-lg-6 result-panel">
                        <div>{{result.PromotionType | humanize | titleize}} </div>
                    </div>
                </div>
                <div class="row" ng-hide="result.Fascia">
                    <div class="col-lg-6">
                        <div><b>Location</b></div>
                    </div>
                    <div class="col-lg-6 result-panel">
                        <div>{{result.LocationName | humanize | titleize}}</div>
                    </div>
                </div>
                <div class="row" ng-hide="result.LocationName">
                    <div class="col-lg-6">
                        <div><b>Fascia</b></div>
                    </div>
                    <div class="col-lg-6 result-panel">
                        <div>{{result.Fascia | humanize | titleize}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</div>