<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STL.PL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="WebServiceURL" value="http://localhost/courts.net.ws/" />
        <add key="WebSiteURL" value="http://localhost" />
        <add key="CountryCode" value="B" />
        <add key="BranchCode" value="900" />
        <add key="Culture" value="en-JM" />
        <add key="NewInstall" value="true" />
        <add key="TestKey" value="0" />
        <add key="UpdatePath" value="C:\Projects\Courts.NET\Install\updates.xml" />
        <add key="SplashImage" value="" />
        <add key="AgrPrinter" value="" />
        <add key="AgrTray" value="" />
        <add key="InvoicePrinter" value="" />
        <add key="InvoiceTray" value="" />
        <add key="SummaryPrinter" value="" />
        <add key="SummaryTray" value="" />
        <add key="CollPrinter" value="" />
        <add key="CollTray" value="" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="loglevel" value="full"/>
        <!--None for no logging.-->
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        </assemblyBinding>
    </runtime>
    <system.windows.forms jitDebugging="true" />
    <startup>
    </startup>
    <!--	this is the alternative proxy settings to use for loadrunner recording
	<system.net>
		<defaultProxy>
			<proxy usesystemdefault="false"
			proxyaddress="http://peacock:7777"
			bypassonlocal="true" />
		</defaultProxy>
	</system.net>
	-->
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <userSettings>
        <STL.PL.Properties.Settings>
            <setting name="Branch" serializeAs="String">
                <value />
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="SplashImage" serializeAs="String">
                <value />
            </setting>
            <setting name="ThermalPrinterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="CashDrawerID" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptPrinterModel" serializeAs="String">
                <value />
            </setting>
        </STL.PL.Properties.Settings>
    </userSettings>
</configuration>