bin
Blue.Cosacs.Server.Setup/*.msi
Blue.Cosacs.Server.Setup/*.wixpdb
Blue.Cosacs.Server.Setup/*.wixobj
Blue.Cosacs.Server.Setup/*.wxs
Courts.NET.PL/ClickOnce/
AllMigrations
packages
obj
*.csproj.user
*.dwproj.user
*.dbproj.user
*.sqlproj.user
*.suo
.idea
*.vsscc
*.vspscc
*.dbmdl
*.pyc
*.Cache
.vs
*.log
Blue.Cosacs.Web/web.config
PrecompiledWeb
minify
Blue.Cosacs.Web.Sql.dbproj.user
node_modules
karma_html
data-modules.partial.txt
*module*.js
module.css
lib
_UpgradeReport_Files/
Backup*/
UpgradeLog*.xml
UpgradeLog*.htm
*.bak
*.orig
*Debug/
*_old.html
StyleCop.Cache
Sales/Blue.Cosacs.Sales.Web/coverage
bower_components
Web.sln.DotSettings.user

