<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    </configSections>
    <dataConfiguration defaultDatabase="Default" />
    <connectionStrings>
        <add name="Default" connectionString="server=mssql.cosacs.net;database=CoSaCS_Grid_110;user id=sa;password=" providerName="System.Data.SqlClient" />
        <!--add name="AdventureWorks" connectionString="server=SLUG;database=$Crm-Datawarehouse-Adventureworks;uid=sa;pwd=;Connection Reset=false" providerName="System.Data.SqlClient" /-->
        <!--add name="Transactions" connectionString="server=SLUG;database=$Blue-Transactions-Test;Integrated Security=SSPI" providerName="System.Data.SqlClient" /-->
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="logFile" value="\\STL\\Courts.NET\\logs\\Courts.NET.log"/>
    <add key="logLevel" value="verbose"/>
    <add key="Status" value="null"/>
  </appSettings>
</configuration>
