<div class="buffer top">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4"><label>Purchase Order Number:</label></div>
                <div class="col-lg-8"><a href="{{generateUrl('Merchandising/Purchase/Detail/' + purchaseOrder.purchaseOrderId)}}">#{{purchaseOrder.purchaseOrderId}}</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped pb-table">
                <thead>
                    <tr>
                        <th class="col-sm sku">Product Code</th>
                        <th class="col-sm-2">Description</th>
                        <th class="col-sm-2">PO Comments</th>
                        <th class="col-sm quantity">Quantity Received</th>
                        <th class="col-sm quantity">Quantity Back Ordered</th>
                        <th class="col-sm quantity" ng-show="receipt.enableBackOrderCancel">Quantity Cancelled</th>
                        <th class="col-sm currency" ng-show="receipt.enableBackOrderCancel">Reason For Cancellation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in purchaseOrder.products" ng-form="productForm" ng-controller="ReceiptPurchaseCtrl">
                        <td><a href="{{generateUrl('Merchandising/Products/Ref?sku=' + product.productCode)}}">{{product.productCode}}</a></td>
                        <td>{{product.description}}</td>
                        <td><span pb-ref-link ng-model="product.comments"></span></td>

                        <td class="quantity">{{product.quantityReceived}}</td>

                        <td class="quantity">{{product.quantityBackOrdered}}</td>
                        <td class="quantity" ng-show="enableBackOrderCancel()">{{product.quantityCancelled}}</td>

                        <td ng-show="enableBackOrderCancel()"><span ng-model="product.reasonForCancellation" pb-ref-link></span></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>