@model Blue.Cosacs.Web.Areas.Report.Models.WeeklySummary
@{
    ViewBag.Title = "Weekly Summary Report";
}

<div data-module="report/WeeklySummary" data-product-group-source="@Model.ProductGroups" data-week="@Model.DefaultWeek" data-year="@Model.DefaultYear" ng-controller="WeeklySummaryController" class="ng-scope report">
    <div class="section">Parameters</div>
    <div class="search row">
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label" for="inputYear">Financial Year: </label>
                <div class="col col-lg-6">
                    <input id="inputYear" type="number" name="year" min="2000" max="2050" class="form-control" ng-model="year">
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label" for="inputMinWeek">Initial Week: </label>
                <div class="col col-lg-6" ng-class="{'has-error': !firstWeek }">
                    <input id="inputMinWeek" type="number" name="minWeek" min="1" max="52" class="form-control" ng-model="firstWeek" ng-change="fisrtWeekChange()"> 
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="form-group" ng-class="{'has-error': !lastWeek }">
                <label class="col col-lg-6 control-label" for="inputMaxWeek">Final Week: </label>
                <div class="col col-lg-6">
                    <input id="inputMaxWeek" type="number" name="maxWeek" min="1" max="52" class="form-control" ng-model="lastWeek">
                </div>
            </div>
        </div>
    </div>
    <p class="searchrow" />
    <div class="search row">
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label">Division:</label>
                <div class="col col-lg-6">
                    <list name="listDepartments" ng-model="department" scope="departments" placeholder="Select a Division"></list>
                </div>
            </div>
        </div>
    </div>
    <p class="searchrow" />
    <div class="actions">
        <button id="buttonClear" class="clear btn btn-default" ng-click="clear()">Clear</button>
        <button id="buttonSearch" class="search btn btn-primary" ng-click="search()">Run</button>
        <button class="btn btn-default" ng-click="exportResults()">Export</button>
    </div>
    <p class="searchrow" />
    <div id="divResults" class="generic-report-results">
        <table class="table table-striped table-bordered table-hover"
               style="visibility:visible" ng-style="{'visibility': queryHasValue('table') }">
            <thead>
                <tr>
                    <th>
                        Week
                    </th>
                    <th>
                        Received
                    </th>
                    <th>
                        Completed
                    </th>
                    <th>
                        Outstanding
                    </th>
                    <th>
                        Average TAT
                    </th>
                    <th>
                        Completed Within 7 Days
                    </th>
                    <th>
                        7 Day %
                    </th>
                    <th>
                        JOBS &gt; 20 DAYS
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in queryResults" class="text-center ng-scope" style="visibility:visible">
                    <td class="ng-binding">
                        {{ item.Week }}
                    </td>
                    <td class="ng-binding">
                        {{ item.Received }}
                    </td>
                    <td class="ng-binding">
                        {{ item.Completed }}
                    </td>
                    <td class="ng-binding">
                        {{ item.Outstanding }}
                    </td>
                    <td class="ng-binding">
                        {{ item.AverageTAT }}
                    </td>
                    <td class="ng-binding">
                        {{ item.CompletedWithin7Days }}
                    </td>
                    <td class="ng-binding">
                        {{ item.SevenDayPercentage | number:2 }}
                    </td>
                    <td class="ng-binding">
                        {{ item.JobsMore20Days }}
                    </td>
                </tr>
                <tr style="visibility:hidden" ng-style="{'visibility': queryHasValue() }">
                    <td colspan="8" style="text-align:center">There are no values matching your search filter.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="searchrow" />
    <div id="chart1" class="chartContainer"></div>
    <p class="searchrow" />
    <div id="chart2" class="chartContainer"></div>
    <p class="searchrow" />
    <div id="chart3" class="chartContainer"></div>
    <p class="searchrow" />
    <div id="chart4" class="chartContainer"></div>
    <p class="searchrow" />
    <div id="chart5" class="chartContainer"></div>
    <p class="searchrow" />
</div>
