<div data-module="merchandising/stockRequisition/init" ng-controller="StockRequisitionCtrl" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="save()" ng-hide="!canSave()">Save</button>
            </div>
        </div>
    </div>

    <div class="buffer top">
        <ng-form name="reasonForm" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': !stockRequisition.receivingLocationId}">
                                <label class="control-label col-md-4" for="receivingLocations">Receiving Location</label>
                                <div class="col-md-8">
                                    <div ng-show="editing">
                                        <list name="receivingLocations"
                                              ng-model="stockRequisition.receivingLocationId"
                                              ng-required
                                              scope="locations"
                                              placeholder="Select a Location"
                                              ng-disabled="!canEdit()"></list>
                                    </div>
                                    <div ng-hide="editing" class="form-control-static">
                                        <a href="{{resolve('Merchandising/Locations/Detail/' + stockRequisition.receivingLocationId)}}">{{stockRequisition.receivingLocation}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': !stockRequisition.warehouseLocationId}">
                                <label class="control-label col-md-4" for="warehouses">Warehouse</label>
                                <div class="col-md-8">
                                    <div ng-show="editing">
                                        <list name="warehouses"
                                              ng-model="stockRequisition.warehouseLocationId"
                                              ng-required
                                              ng-change="clearStockInfo()"
                                              scope="warehouses"
                                              placeholder="Select a Warehouse"
                                              ng-disabled="!canEdit()"></list>
                                    </div>
                                    <div ng-hide="editing" class="form-control-static">
                                        <a href="{{resolve('Merchandising/Locations/Detail/' + stockRequisition.warehouseLocationId)}}">{{stockRequisition.warehouseLocation}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>           
            <div class="row">
                <div class="col-md-6" ng-show="isCreated()">
                    <div class="form-group">
                        <label for="createdDate" class="control-label col-md-4">Created On</label>
                        <div class="col-md-8">
                            <div id="createdDate" class="form-control-static">{{stockRequisition.createdDate | pbDate : true}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-show="isCreated()">
                    <div class="form-group">
                        <label for="createdBy" class="control-label col-md-4">Created By</label>
                        <div class="col-md-8">
                            <div id="createdBy" class="form-control-static">{{stockRequisition.createdBy}}</div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row buffer top" ng-show="editing" ng-disabled="saving">
                <div id="addProductsContainer" class="col-md-12">
                    <h4>Add Products</h4>
                    <div class="well well-sm" ng-form="productForm">

                        <div class="row">
                            <div class="col-md-3">
                                <div ng-class="{'has-error': (!newProduct || !newProduct.sku) && canEditProduct()}">
                                    <pb-search-dropdown endpoint="searchEndpoint" is-disabled="!canEditProduct()" model="newProduct" params="getSearchParams" result-processor="processSearchResult" />
                                </div>
                            </div>                         
                            <div class="col-md-3">
                                <div ng-class="{'has-error': productForm.quantity.$invalid && canEditProduct()}">
                                    <input id="quantity" name="quantity" pb-integer ng-required="true" ng-change="checkQuantity()" ng-min="1" min="1" ng-max="20000" max="20000" maxlength="5" ng-disabled="!canEditProduct()" class="form-control" placeholder="Enter a quantity" ng-model="newProduct.quantity" data-toggle="tooltip" data-placement="top"  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div ng-class="{'has-error': productForm.comments.$invalid }">
                                    <input name="comments" id="productComments" placeholder="Enter a comment" ng-disabled="!canEditProduct()" class="form-control" ng-model="newProduct.comments" maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <span class="glyphicons btn-icon plus" ng-click="addProduct(newProduct, productForm)" ng-class="{disabled:!canAddProduct(productForm)}"></span>
                            </div>
                        </div>

                        <div class="row buffer-sm top" ng-show="stockInfo">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped aligned pb-table">
                                    <thead>
                                        <tr>
                                            <th>SKU</th>
                                            <th>Distributions Outstanding</th>
                                            <th>Stock on Hand</th>
                                            <th>Available Stock</th>
                                            <th>Stock On Order</th>
                                            <th>Last 14 Days Sales</th>
                                            <th>Warehouse Stock on Hand</th>
                                            <th>Warehouse Available Stock</th>
                                            <th>Warehouse Stock On Order</th>
                                            <th>Warehouse Expected Delivery Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="{{resolve('Merchandising/Products/Details/' + stockInfo.productId)}}">
                                                    {{stockInfo.sku}}
                                                </a>
                                            </td>
                                            <td>{{stockInfo.distributionsOutstanding}}</td>
                                            <td>{{stockInfo.stockOnHand}}</td>
                                            <td>{{stockInfo.availableStock}}</td>
                                            <td>
                                                <a href="{{resolve('Merchandising/StockRequisition/OnOrder?productId=' + stockInfo.productId + '&locationId=' + stockRequisition.receivingLocationId)}}" target="_blank">
                                                    {{stockInfo.stockOnOrder}}
                                                </a>
                                            </td>
                                            <td>{{stockInfo.lastSales}}</td>
                                            <td>{{stockInfo.warehouseStockOnHand}}</td>
                                            <td>{{stockInfo.warehouseAvailableStock}}</td>
                                            <td>
                                                <a href="{{resolve('Merchandising/StockRequisition/OnOrder?productId=' + stockInfo.productId + '&locationId=' + stockRequisition.warehouseLocationId)}}" target="_blank">
                                                    {{stockInfo.warehouseStockOnOrder}}
                                                </a>
                                            </td>
                                            <td>{{stockInfo.expectedDeliveryDate | pbDate }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row buffer top" ng-show="showProducts()">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped aligned pb-table">
                        <thead>
                            <tr>
                                <th class="component-controls" ng-show="editing"></th>
                                <th>SKU</th>
                                <th>Description</th>
                                <th>Comments</th>
                                <th>AWC</th>
                                <th>Quantity</th>
                                <th>Line Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in stockRequisition.products">
                                <td class="component-controls" ng-show="$parent.editing">
                                    <span class="glyphicons glyph-btn bin" ng-click="removeProduct(product.productId)" ng-hide="editMode"></span>
                                </td>
                                <td><a href="{{resolve('Merchandising/Products/Details/' + product.productId)}}">{{product.sku}}</a></td>
                                <td>{{product.description}}</td>
                                <td><div class="form-control-static"><p class="pb-text" pb-ref-link class="form-control-static" ng-model="product.comments"></p></div></td>
                                <td>{{product.averageWeightedCost | pbCurrency}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{$parent.lineCost(product) | pbCurrency}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td ng-show="editing" colspan ="5"></td>
                                <td>Total</td>
                                <td>{{totalLineCost() | pbCurrency}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </ng-form>
    </div>
</div>