<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="intervalTime" value="10000" />
    <!--<add key="MVEBaseURL" value="http://200.32.222.83:10080/api/" />-->
    <add key="MVELocalBaseURL" value="http://localhost/MVE/api/" />
    <add key="RequestUser" value="integration_user" />
    <add key="EODTime" value="12:00:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceName" value="MVESchedular" />
    <add key="ServicePath" value="C:\Program Files\Blue Bridge Solutions\Cosacs\Modules\MVE\views\Schedular\Blue.Cosacs.MVESchedular.exe" />
    <add key="ErrorServicePath" value="Service path not found" />
    <add key="ErrorServiceName" value="Service name not found" />
  </appSettings>
</configuration>