<div data-module="merchandising/reports/stockMovement/init" ng-controller="StockMovementReportCtrl" ng-cloak class="buffer-sm bottom">
    <div class="buffer-sm top" ng-form="searchForm">
        <div class="row buffer-sm bottom">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button id="buttonPrint" class="btn btn-default" ng-click="print()">Print</button>
                    <button id="buttonExport" class="btn btn-default" ng-click="getExport()">Export</button>
                    <button id="buttonClear" class="btn btn-default" ng-click="reset()">Clear</button>
                    <button id="buttonSearch" class="btn btn-primary" ng-click="get()" ng-disabled="loading()">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sku">Division</label>
                    <list name="division" ng-model="query.division" scope="divisions" placeholder="Select a Division"></list>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sku">Department</label>
                    <list name="department" ng-model="query.department" scope="departments" placeholder="Select a Department"></list>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sku">Class</label>
                    <list name="class" ng-model="query.class" scope="classes" placeholder="Select a Class"></list>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="sku">SKU</label>
                    <input class="form-control" name="sku" ng-model="query.sku" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="fascia">Fascia</label>
                    <list name="fascia" ng-model="query.fasciaId" scope="fascias" placeholder="Select a Fascia" ng-disabled="query.locationId"></list>
                </div>
            </div>
            <div class="col-lg-3">       
                <div class="form-group">
                    <label for="location">Location</label>
                    <list name="location" ng-model="query.locationId" scope="locations" placeholder="Select a Location" ng-disabled="query.fasciaId"></list>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="createdFrom">Created From</label>
                    <input class="form-control" name="createdFrom" ng-model="query.createdFrom" type="date" placeholder="Select Date"/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="createdTo">Created To</label>
                    <input class="form-control" name="createdTo" ng-model="query.createdTo" type="date" placeholder="Select Date" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert" ng-hide="!showResultsCount()">{{resultCount || 'No'}} stock movements found. <em ng-hide="!rendering()">Please wait...</em>
                </div>
                <pb-column-select data="results" columns="columns" template-url="gridTemplate" utils="gridUtils"></pb-column-select>
            </div>
        </div>
    </div>
</div>
