<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="Default" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=$CoSACS-Grid-Master;Data Source=GRID0"  providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=SeleniumCosacsBar7.0.1;Data Source=BLACKBUCK"  providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=Selenium_Cosacs;Data Source=GRID0"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
