<div class="container">
    <h1>Call Icon</h1>
    <div ng-controller="callIconController" ng-cloak>
        <div class="search row">&nbsp;</div>
        <div class="row" ng-repeat="value in results">
            <div class="field">
                <div class="col col-lg-4">
                    <label>{{value.Name}} </label>
                </div>
                <glyphicons icon="value.Icon"></glyphicons>
            </div>
            <div class="search row">&nbsp;</div>
        </div>
        <div class="search row">&nbsp;</div>
        <div class="field">
            <button type="submit" class="btn btn-primary" id="btnSearch" ng-click="save()">Save</button>
        </div>
    </div>
</div>
