<div class="modal-content" ng-controller="followUpCallController">
    <div class="modal-header">
        <h3>Select Icon</h3>
    </div>
    <div class="modal-body iconDisplay pointer">
        <div title='glass' class="glyphicons glass" ng-click="iconClicked('glass')">&nbsp;</div>
        <div title='leaf' class="glyphicons leaf" ng-click="iconClicked('leaf')">&nbsp;</div>
        <div title='dog' class="glyphicons dog" ng-click="iconClicked('dog')">&nbsp;</div>
        <div title='user' class="glyphicons user" ng-click="iconClicked('user')">&nbsp;</div>
        <div title='girl' class="glyphicons girl" ng-click="iconClicked('girl')">&nbsp;</div>
        <div title='car' class="glyphicons car" ng-click="iconClicked('car')">&nbsp;</div>
        <div title='user_add' class="glyphicons user_add" ng-click="iconClicked('user_add')">&nbsp;</div>
        <div title='user_remove' class="glyphicons user_remove" ng-click="iconClicked('user_remove')">&nbsp;</div>
        <div title='film' class="glyphicons film" ng-click="iconClicked('film')">&nbsp;</div>
        <div title='magic' class="glyphicons magic" ng-click="iconClicked('magic')">&nbsp;</div>
        <div title='envelope' class="glyphicons envelope" ng-click="iconClicked('envelope')">&nbsp;</div>
        <div title='camera' class="glyphicons camera" ng-click="iconClicked('camera')">&nbsp;</div>
        <div title='heart' class="glyphicons heart" ng-click="iconClicked('heart')">&nbsp;</div>
        <div title='beach_umbrella' class="glyphicons beach_umbrella" ng-click="iconClicked('beach_umbrella')">&nbsp;</div>
        <div title='train' class="glyphicons train" ng-click="iconClicked('train')">&nbsp;</div>
        <div title='print' class="glyphicons print" ng-click="iconClicked('print')">&nbsp;</div>
        <div title='bin' class="glyphicons bin" ng-click="iconClicked('bin')">&nbsp;</div>
        <div title='music' class="glyphicons music" ng-click="iconClicked('music')">&nbsp;</div>
        <div title='note' class="glyphicons note" ng-click="iconClicked('note')">&nbsp;</div>
        <div title='heart_empty' class="glyphicons heart_empty" ng-click="iconClicked('heart_empty')">&nbsp;</div>
        <div title='home' class="glyphicons home" ng-click="iconClicked('home')">&nbsp;</div>
        <div title='snowflake' class="glyphicons snowflake" ng-click="iconClicked('snowflake')">&nbsp;</div>
        <div title='fire' class="glyphicons fire" ng-click="iconClicked('fire')">&nbsp;</div>
        <div title='magnet' class="glyphicons magnet" ng-click="iconClicked('magnet')">&nbsp;</div>
        <div title='parents' class="glyphicons parents" ng-click="iconClicked('parents')">&nbsp;</div>
        <div title='binoculars' class="glyphicons binoculars" ng-click="iconClicked('binoculars')">&nbsp;</div>
        <div title='road' class="glyphicons road" ng-click="iconClicked('road')">&nbsp;</div>
        <div title='search' class="glyphicons search" ng-click="iconClicked('search')">&nbsp;</div>
        <div title='cars' class="glyphicons cars" ng-click="iconClicked('cars')">&nbsp;</div>
        <div title='notes_2' class="glyphicons notes_2" ng-click="iconClicked('notes_2')">&nbsp;</div>
        <div title='pencil' class="glyphicons pencil" ng-click="iconClicked('pencil')">&nbsp;</div>
        <div title='bus' class="glyphicons bus" ng-click="iconClicked('bus')">&nbsp;</div>
        <div title='wifi_alt' class="glyphicons wifi_alt" ng-click="iconClicked('wifi_alt')">&nbsp;</div>
        <div title='luggage' class="glyphicons luggage" ng-click="iconClicked('luggage')">&nbsp;</div>
        <div title='old_man' class="glyphicons old_man" ng-click="iconClicked('old_man')">&nbsp;</div>
        <div title='woman' class="glyphicons woman" ng-click="iconClicked('woman')">&nbsp;</div>
        <div title='file' class="glyphicons file" ng-click="iconClicked('file')">&nbsp;</div>
        <div title='coins' class="glyphicons coins" ng-click="iconClicked('coins')">&nbsp;</div>
        <div title='airplane' class="glyphicons airplane" ng-click="iconClicked('airplane')">&nbsp;</div>
        <div title='notes' class="glyphicons notes" ng-click="iconClicked('notes')">&nbsp;</div>
        <div title='stats' class="glyphicons stats" ng-click="iconClicked('stats')">&nbsp;</div>
        <div title='charts' class="glyphicons charts" ng-click="iconClicked('charts')">&nbsp;</div>
        <div title='pie_chart' class="glyphicons pie_chart" ng-click="iconClicked('pie_chart')">&nbsp;</div>
        <div title='group' class="glyphicons group" ng-click="iconClicked('group')">&nbsp;</div>
        <div title='keys' class="glyphicons keys" ng-click="iconClicked('keys')">&nbsp;</div>
        <div title='calendar' class="glyphicons calendar" ng-click="iconClicked('calendar')">&nbsp;</div>
        <div title='router' class="glyphicons router" ng-click="iconClicked('router')">&nbsp;</div>
        <div title='camera_small' class="glyphicons camera_small" ng-click="iconClicked('camera_small')">&nbsp;</div>
        <div title='dislikes' class="glyphicons dislikes" ng-click="iconClicked('dislikes')">&nbsp;</div>
        <div title='star' class="glyphicons star" ng-click="iconClicked('star')">&nbsp;</div>
        <div title='link' class="glyphicons link" ng-click="iconClicked('link')">&nbsp;</div>
        <div title='eye_open' class="glyphicons eye_open" ng-click="iconClicked('eye_open')">&nbsp;</div>
        <div title='eye_close' class="glyphicons eye_close" ng-click="iconClicked('eye_close')">&nbsp;</div>
        <div title='alarm' class="glyphicons alarm" ng-click="iconClicked('alarm')">&nbsp;</div>
        <div title='clock' class="glyphicons clock" ng-click="iconClicked('clock')">&nbsp;</div>
        <div title='stopwatch' class="glyphicons stopwatch" ng-click="iconClicked('stopwatch')">&nbsp;</div>
        <div title='projector' class="glyphicons projector" ng-click="iconClicked('projector')">&nbsp;</div>
        <div title='history' class="glyphicons history" ng-click="iconClicked('history')">&nbsp;</div>
        <div title='truck' class="glyphicons truck" ng-click="iconClicked('truck')">&nbsp;</div>
        <div title='cargo' class="glyphicons cargo" ng-click="iconClicked('cargo')">&nbsp;</div>
        <div title='compass' class="glyphicons compass" ng-click="iconClicked('compass')">&nbsp;</div>
        <div title='keynote' class="glyphicons keynote" ng-click="iconClicked('keynote')">&nbsp;</div>
        <div title='paperclip' class="glyphicons paperclip" ng-click="iconClicked('paperclip')">&nbsp;</div>
        <div title='power' class="glyphicons power" ng-click="iconClicked('power')">&nbsp;</div>
        <div title='lightbulb' class="glyphicons lightbulb" ng-click="iconClicked('lightbulb')">&nbsp;</div>
        <div title='tag' class="glyphicons tag" ng-click="iconClicked('tag')">&nbsp;</div>
        <div title='tags' class="glyphicons tags" ng-click="iconClicked('tags')">&nbsp;</div>
        <div title='cleaning' class="glyphicons cleaning" ng-click="iconClicked('cleaning')">&nbsp;</div>
        <div title='ruller' class="glyphicons ruller" ng-click="iconClicked('ruller')">&nbsp;</div>
        <div title='gift' class="glyphicons gift" ng-click="iconClicked('gift')">&nbsp;</div>
        <div title='umbrella' class="glyphicons umbrella" ng-click="iconClicked('umbrella')">&nbsp;</div>
        <div title='book' class="glyphicons book" ng-click="iconClicked('book')">&nbsp;</div>
        <div title='bookmark' class="glyphicons bookmark" ng-click="iconClicked('bookmark')">&nbsp;</div>
        <div title='wifi' class="glyphicons wifi" ng-click="iconClicked('wifi')">&nbsp;</div>
        <div title='cup' class="glyphicons cup" ng-click="iconClicked('cup')">&nbsp;</div>
        <div title='stroller' class="glyphicons stroller" ng-click="iconClicked('stroller')">&nbsp;</div>
        <div title='headphones' class="glyphicons headphones" ng-click="iconClicked('headphones')">&nbsp;</div>
        <div title='headset' class="glyphicons headset" ng-click="iconClicked('headset')">&nbsp;</div>
        <div title='warning_sign' class="glyphicons warning_sign" ng-click="iconClicked('warning_sign')">&nbsp;</div>
        <div title='signal' class="glyphicons signal" ng-click="iconClicked('signal')">&nbsp;</div>
        <div title='retweet' class="glyphicons retweet" ng-click="iconClicked('retweet')">&nbsp;</div>
        <div title='refresh' class="glyphicons refresh" ng-click="iconClicked('refresh')">&nbsp;</div>
        <div title='roundabout' class="glyphicons roundabout" ng-click="iconClicked('roundabout')">&nbsp;</div>
        <div title='random' class="glyphicons random" ng-click="iconClicked('random')">&nbsp;</div>
        <div title='heat' class="glyphicons heat" ng-click="iconClicked('heat')">&nbsp;</div>
        <div title='repeat' class="glyphicons repeat" ng-click="iconClicked('repeat')">&nbsp;</div>
        <div title='display' class="glyphicons display" ng-click="iconClicked('display')">&nbsp;</div>
        <div title='log_book' class="glyphicons log_book" ng-click="iconClicked('log_book')">&nbsp;</div>
        <div title='address_book' class="glyphicons address_book" ng-click="iconClicked('address_book')">&nbsp;</div>
        <div title='building' class="glyphicons building" ng-click="iconClicked('building')">&nbsp;</div>
        <div title='eyedropper' class="glyphicons eyedropper" ng-click="iconClicked('eyedropper')">&nbsp;</div>
        <div title='adjust' class="glyphicons adjust" ng-click="iconClicked('adjust')">&nbsp;</div>
        <div title='tint' class="glyphicons tint" ng-click="iconClicked('tint')">&nbsp;</div>
        <div title='crop' class="glyphicons crop" ng-click="iconClicked('crop')">&nbsp;</div>
        <div title='vector_path_square' class="glyphicons vector_path_square" ng-click="iconClicked('vector_path_square')">&nbsp;</div>
        <div title='vector_path_circle' class="glyphicons vector_path_circle" ng-click="iconClicked('vector_path_circle')">&nbsp;</div>
        <div title='vector_path_polygon' class="glyphicons vector_path_polygon" ng-click="iconClicked('vector_path_polygon')">&nbsp;</div>
        <div title='vector_path_line' class="glyphicons vector_path_line" ng-click="iconClicked('vector_path_line')">&nbsp;</div>
        <div title='vector_path_curve' class="glyphicons vector_path_curve" ng-click="iconClicked('vector_path_curve')">&nbsp;</div>
        <div title='vector_path_all' class="glyphicons vector_path_all" ng-click="iconClicked('vector_path_all')">&nbsp;</div>
        <div title='font' class="glyphicons font" ng-click="iconClicked('font')">&nbsp;</div>
        <div title='italic' class="glyphicons italic" ng-click="iconClicked('italic')">&nbsp;</div>
        <div title='bold' class="glyphicons bold" ng-click="iconClicked('bold')">&nbsp;</div>
        <div title='text_underline' class="glyphicons text_underline" ng-click="iconClicked('text_underline')">&nbsp;</div>
        <div title='text_strike' class="glyphicons text_strike" ng-click="iconClicked('text_strike')">&nbsp;</div>
        <div title='text_height' class="glyphicons text_height" ng-click="iconClicked('text_height')">&nbsp;</div>
        <div title='text_width' class="glyphicons text_width" ng-click="iconClicked('text_width')">&nbsp;</div>
        <div title='text_resize' class="glyphicons text_resize" ng-click="iconClicked('text_resize')">&nbsp;</div>
        <div title='left_indent' class="glyphicons left_indent" ng-click="iconClicked('left_indent')">&nbsp;</div>
        <div title='right_indent' class="glyphicons right_indent" ng-click="iconClicked('right_indent')">&nbsp;</div>
        <div title='align_left' class="glyphicons align_left" ng-click="iconClicked('align_left')">&nbsp;</div>
        <div title='align_center' class="glyphicons align_center" ng-click="iconClicked('align_center')">&nbsp;</div>
        <div title='align_right' class="glyphicons align_right" ng-click="iconClicked('align_right')">&nbsp;</div>
        <div title='justify' class="glyphicons justify" ng-click="iconClicked('justify')">&nbsp;</div>
        <div title='list' class="glyphicons list" ng-click="iconClicked('list')">&nbsp;</div>
        <div title='text_smaller' class="glyphicons text_smaller" ng-click="iconClicked('text_smaller')">&nbsp;</div>
        <div title='text_bigger' class="glyphicons text_bigger" ng-click="iconClicked('text_bigger')">&nbsp;</div>
        <div title='embed' class="glyphicons embed" ng-click="iconClicked('embed')">&nbsp;</div>
        <div title='embed_close' class="glyphicons embed_close" ng-click="iconClicked('embed_close')">&nbsp;</div>
        <div title='table' class="glyphicons table" ng-click="iconClicked('table')">&nbsp;</div>
        <div title='message_full' class="glyphicons message_full" ng-click="iconClicked('message_full')">&nbsp;</div>
        <div title='message_empty' class="glyphicons message_empty" ng-click="iconClicked('message_empty')">&nbsp;</div>
        <div title='message_in' class="glyphicons message_in" ng-click="iconClicked('message_in')">&nbsp;</div>
        <div title='message_out' class="glyphicons message_out" ng-click="iconClicked('message_out')">&nbsp;</div>
        <div title='message_plus' class="glyphicons message_plus" ng-click="iconClicked('message_plus')">&nbsp;</div>
        <div title='message_minus' class="glyphicons message_minus" ng-click="iconClicked('message_minus')">&nbsp;</div>
        <div title='message_ban' class="glyphicons message_ban" ng-click="iconClicked('message_ban')">&nbsp;</div>
        <div title='message_flag' class="glyphicons message_flag" ng-click="iconClicked('message_flag')">&nbsp;</div>
        <div title='message_lock' class="glyphicons message_lock" ng-click="iconClicked('message_lock')">&nbsp;</div>
        <div title='message_new' class="glyphicons message_new" ng-click="iconClicked('message_new')">&nbsp;</div>
        <div title='inbox' class="glyphicons inbox" ng-click="iconClicked('inbox')">&nbsp;</div>
        <div title='inbox_plus' class="glyphicons inbox_plus" ng-click="iconClicked('inbox_plus')">&nbsp;</div>
        <div title='inbox_minus' class="glyphicons inbox_minus" ng-click="iconClicked('inbox_minus')">&nbsp;</div>
        <div title='inbox_lock' class="glyphicons inbox_lock" ng-click="iconClicked('inbox_lock')">&nbsp;</div>
        <div title='inbox_in' class="glyphicons inbox_in" ng-click="iconClicked('inbox_in')">&nbsp;</div>
        <div title='inbox_out' class="glyphicons inbox_out" ng-click="iconClicked('inbox_out')">&nbsp;</div>
        <div title='cogwheel' class="glyphicons cogwheel" ng-click="iconClicked('cogwheel')">&nbsp;</div>
        <div title='cogwheels' class="glyphicons cogwheels" ng-click="iconClicked('cogwheels')">&nbsp;</div>
        <div title='picture' class="glyphicons picture" ng-click="iconClicked('picture')">&nbsp;</div>
        <div title='adjust_alt' class="glyphicons adjust_alt" ng-click="iconClicked('adjust_alt')">&nbsp;</div>
        <div title='database_lock' class="glyphicons database_lock" ng-click="iconClicked('database_lock')">&nbsp;</div>
        <div title='database_plus' class="glyphicons database_plus" ng-click="iconClicked('database_plus')">&nbsp;</div>
        <div title='database_minus' class="glyphicons database_minus" ng-click="iconClicked('database_minus')">&nbsp;</div>
        <div title='database_ban' class="glyphicons database_ban" ng-click="iconClicked('database_ban')">&nbsp;</div>
        <div title='folder_open' class="glyphicons folder_open" ng-click="iconClicked('folder_open')">&nbsp;</div>
        <div title='folder_plus' class="glyphicons folder_plus" ng-click="iconClicked('folder_plus')">&nbsp;</div>
        <div title='folder_minus' class="glyphicons folder_minus" ng-click="iconClicked('folder_minus')">&nbsp;</div>
        <div title='folder_lock' class="glyphicons folder_lock" ng-click="iconClicked('folder_lock')">&nbsp;</div>
        <div title='folder_flag' class="glyphicons folder_flag" ng-click="iconClicked('folder_flag')">&nbsp;</div>
        <div title='folder_new' class="glyphicons folder_new" ng-click="iconClicked('folder_new')">&nbsp;</div>
        <div title='edit' class="glyphicons edit" ng-click="iconClicked('edit')">&nbsp;</div>
        <div title='new_window' class="glyphicons new_window" ng-click="iconClicked('new_window')">&nbsp;</div>
        <div title='check' class="glyphicons check" ng-click="iconClicked('check')">&nbsp;</div>
        <div title='unchecked' class="glyphicons unchecked" ng-click="iconClicked('unchecked')">&nbsp;</div>
        <div title='more_windows' class="glyphicons more_windows" ng-click="iconClicked('more_windows')">&nbsp;</div>
        <div title='show_big_thumbnails' class="glyphicons show_big_thumbnails" ng-click="iconClicked('show_big_thumbnails')">&nbsp;</div>
        <div title='show_thumbnails' class="glyphicons show_thumbnails" ng-click="iconClicked('show_thumbnails')">&nbsp;</div>
        <div title='show_thumbnails_with_lines' class="glyphicons show_thumbnails_with_lines" ng-click="iconClicked('show_thumbnails_with_lines')">&nbsp;</div>
        <div title='show_lines' class="glyphicons show_lines" ng-click="iconClicked('show_lines')">&nbsp;</div>
        <div title='playlist' class="glyphicons playlist" ng-click="iconClicked('playlist')">&nbsp;</div>
        <div title='imac' class="glyphicons imac" ng-click="iconClicked('imac')">&nbsp;</div>
        <div title='macbook' class="glyphicons macbook" ng-click="iconClicked('macbook')">&nbsp;</div>
        <div title='ipad' class="glyphicons ipad" ng-click="iconClicked('ipad')">&nbsp;</div>
        <div title='iphone' class="glyphicons iphone" ng-click="iconClicked('iphone')">&nbsp;</div>
        <div title='iphone_transfer' class="glyphicons iphone_transfer" ng-click="iconClicked('iphone_transfer')">&nbsp;</div>
        <div title='iphone_exchange' class="glyphicons iphone_exchange" ng-click="iconClicked('iphone_exchange')">&nbsp;</div>
        <div title='ipod' class="glyphicons ipod" ng-click="iconClicked('ipod')">&nbsp;</div>
        <div title='ipod_shuffle' class="glyphicons ipod_shuffle" ng-click="iconClicked('ipod_shuffle')">&nbsp;</div>
        <div title='ear_plugs' class="glyphicons ear_plugs" ng-click="iconClicked('ear_plugs')">&nbsp;</div>
        <div title='record' class="glyphicons record" ng-click="iconClicked('record')">&nbsp;</div>
        <div title='step_backward' class="glyphicons step_backward" ng-click="iconClicked('step_backward')">&nbsp;</div>
        <div title='fast_backward' class="glyphicons fast_backward" ng-click="iconClicked('fast_backward')">&nbsp;</div>
        <div title='rewind' class="glyphicons rewind" ng-click="iconClicked('rewind')">&nbsp;</div>
        <div title='play' class="glyphicons play" ng-click="iconClicked('play')">&nbsp;</div>
        <div title='pause' class="glyphicons pause" ng-click="iconClicked('pause')">&nbsp;</div>
        <div title='stop' class="glyphicons stop" ng-click="iconClicked('stop')">&nbsp;</div>
        <div title='forward' class="glyphicons forward" ng-click="iconClicked('forward')">&nbsp;</div>
        <div title='fast_forward' class="glyphicons fast_forward" ng-click="iconClicked('fast_forward')">&nbsp;</div>
        <div title='step_forward' class="glyphicons step_forward" ng-click="iconClicked('step_forward')">&nbsp;</div>
        <div title='eject' class="glyphicons eject" ng-click="iconClicked('eject')">&nbsp;</div>
        <div title='facetime_video' class="glyphicons facetime_video" ng-click="iconClicked('facetime_video')">&nbsp;</div>
        <div title='download_alt' class="glyphicons download_alt" ng-click="iconClicked('download_alt')">&nbsp;</div>
        <div title='mute' class="glyphicons mute" ng-click="iconClicked('mute')">&nbsp;</div>
        <div title='volume_down' class="glyphicons volume_down" ng-click="iconClicked('volume_down')">&nbsp;</div>
        <div title='volume_up' class="glyphicons volume_up" ng-click="iconClicked('volume_up')">&nbsp;</div>
        <div title='screenshot' class="glyphicons screenshot" ng-click="iconClicked('screenshot')">&nbsp;</div>
        <div title='move' class="glyphicons move" ng-click="iconClicked('move')">&nbsp;</div>
        <div title='more' class="glyphicons more" ng-click="iconClicked('more')">&nbsp;</div>
        <div title='brightness_reduce' class="glyphicons brightness_reduce" ng-click="iconClicked('brightness_reduce')">&nbsp;</div>
        <div title='brightness_increase' class="glyphicons brightness_increase" ng-click="iconClicked('brightness_increase')">&nbsp;</div>
        <div title='circle_plus' class="glyphicons circle_plus" ng-click="iconClicked('circle_plus')">&nbsp;</div>
        <div title='circle_minus' class="glyphicons circle_minus" ng-click="iconClicked('circle_minus')">&nbsp;</div>
        <div title='circle_remove' class="glyphicons circle_remove" ng-click="iconClicked('circle_remove')">&nbsp;</div>
        <div title='circle_ok' class="glyphicons circle_ok" ng-click="iconClicked('circle_ok')">&nbsp;</div>
        <div title='circle_question_mark' class="glyphicons circle_question_mark" ng-click="iconClicked('circle_question_mark')">&nbsp;</div>
        <div title='circle_info' class="glyphicons circle_info" ng-click="iconClicked('circle_info')">&nbsp;</div>
        <div title='circle_exclamation_mark' class="glyphicons circle_exclamation_mark" ng-click="iconClicked('circle_exclamation_mark')">&nbsp;</div>
        <div title='remove' class="glyphicons remove" ng-click="iconClicked('remove')">&nbsp;</div>
        <div title='ok' class="glyphicons ok" ng-click="iconClicked('ok')">&nbsp;</div>
        <div title='ban' class="glyphicons ban" ng-click="iconClicked('ban')">&nbsp;</div>
        <div title='download' class="glyphicons download" ng-click="iconClicked('download')">&nbsp;</div>
        <div title='upload' class="glyphicons upload" ng-click="iconClicked('upload')">&nbsp;</div>
        <div title='shopping_cart' class="glyphicons shopping_cart" ng-click="iconClicked('shopping_cart')">&nbsp;</div>
        <div title='lock' class="glyphicons lock" ng-click="iconClicked('lock')">&nbsp;</div>
        <div title='unlock' class="glyphicons unlock" ng-click="iconClicked('unlock')">&nbsp;</div>
        <div title='electricity' class="glyphicons electricity" ng-click="iconClicked('electricity')">&nbsp;</div>
        <div title='ok_2' class="glyphicons ok_2" ng-click="iconClicked('ok_2')">&nbsp;</div>
        <div title='remove_2' class="glyphicons remove_2" ng-click="iconClicked('remove_2')">&nbsp;</div>
        <div title='cart_out' class="glyphicons cart_out" ng-click="iconClicked('cart_out')">&nbsp;</div>
        <div title='cart_in' class="glyphicons cart_in" ng-click="iconClicked('cart_in')">&nbsp;</div>
        <div title='left_arrow' class="glyphicons left_arrow" ng-click="iconClicked('left_arrow')">&nbsp;</div>
        <div title='right_arrow' class="glyphicons right_arrow" ng-click="iconClicked('right_arrow')">&nbsp;</div>
        <div title='down_arrow' class="glyphicons down_arrow" ng-click="iconClicked('down_arrow')">&nbsp;</div>
        <div title='up_arrow' class="glyphicons up_arrow" ng-click="iconClicked('up_arrow')">&nbsp;</div>
        <div title='resize_small' class="glyphicons resize_small" ng-click="iconClicked('resize_small')">&nbsp;</div>
        <div title='resize_full' class="glyphicons resize_full" ng-click="iconClicked('resize_full')">&nbsp;</div>
        <div title='circle_arrow_left' class="glyphicons circle_arrow_left" ng-click="iconClicked('circle_arrow_left')">&nbsp;</div>
        <div title='circle_arrow_right' class="glyphicons circle_arrow_right" ng-click="iconClicked('circle_arrow_right')">&nbsp;</div>
        <div title='circle_arrow_top' class="glyphicons circle_arrow_top" ng-click="iconClicked('circle_arrow_top')">&nbsp;</div>
        <div title='circle_arrow_down' class="glyphicons circle_arrow_down" ng-click="iconClicked('circle_arrow_down')">&nbsp;</div>
        <div title='play_button' class="glyphicons play_button" ng-click="iconClicked('play_button')">&nbsp;</div>
        <div title='unshare' class="glyphicons unshare" ng-click="iconClicked('unshare')">&nbsp;</div>
        <div title='share' class="glyphicons share" ng-click="iconClicked('share')">&nbsp;</div>
        <div title='chevron-right' class="glyphicons chevron-right" ng-click="iconClicked('chevron-right')">&nbsp;</div>
        <div title='chevron-left' class="glyphicons chevron-left" ng-click="iconClicked('chevron-left')">&nbsp;</div>
        <div title='bluetooth' class="glyphicons bluetooth" ng-click="iconClicked('bluetooth')">&nbsp;</div>
        <div title='euro' class="glyphicons euro" ng-click="iconClicked('euro')">&nbsp;</div>
        <div title='usd' class="glyphicons usd" ng-click="iconClicked('usd')">&nbsp;</div>
        <div title='gbp' class="glyphicons gbp" ng-click="iconClicked('gbp')">&nbsp;</div>
        <div title='retweet_2' class="glyphicons retweet_2" ng-click="iconClicked('retweet_2')">&nbsp;</div>
        <div title='moon' class="glyphicons moon" ng-click="iconClicked('moon')">&nbsp;</div>
        <div title='sun' class="glyphicons sun" ng-click="iconClicked('sun')">&nbsp;</div>
        <div title='cloud' class="glyphicons cloud" ng-click="iconClicked('cloud')">&nbsp;</div>
        <div title='direction' class="glyphicons direction" ng-click="iconClicked('direction')">&nbsp;</div>
        <div title='brush' class="glyphicons brush" ng-click="iconClicked('brush')">&nbsp;</div>
        <div title='pen' class="glyphicons pen" ng-click="iconClicked('pen')">&nbsp;</div>
        <div title='zoom_in' class="glyphicons zoom_in" ng-click="iconClicked('zoom_in')">&nbsp;</div>
        <div title='zoom_out' class="glyphicons zoom_out" ng-click="iconClicked('zoom_out')">&nbsp;</div>
        <div title='pin' class="glyphicons pin" ng-click="iconClicked('pin')">&nbsp;</div>
        <div title='albums' class="glyphicons albums" ng-click="iconClicked('albums')">&nbsp;</div>
        <div title='rotation_lock' class="glyphicons rotation_lock" ng-click="iconClicked('rotation_lock')">&nbsp;</div>
        <div title='flash' class="glyphicons flash" ng-click="iconClicked('flash')">&nbsp;</div>
        <div title='google_maps' class="glyphicons google_maps" ng-click="iconClicked('google_maps')">&nbsp;</div>
        <div title='anchor' class="glyphicons anchor" ng-click="iconClicked('anchor')">&nbsp;</div>
        <div title='conversation' class="glyphicons conversation" ng-click="iconClicked('conversation')">&nbsp;</div>
        <div title='chat' class="glyphicons chat" ng-click="iconClicked('chat')">&nbsp;</div>
        <div title='male' class="glyphicons male" ng-click="iconClicked('male')">&nbsp;</div>
        <div title='female' class="glyphicons female" ng-click="iconClicked('female')">&nbsp;</div>
        <div title='asterisk' class="glyphicons asterisk" ng-click="iconClicked('asterisk')">&nbsp;</div>
        <div title='divide' class="glyphicons divide" ng-click="iconClicked('divide')">&nbsp;</div>
        <div title='snorkel_diving' class="glyphicons snorkel_diving" ng-click="iconClicked('snorkel_diving')">&nbsp;</div>
        <div title='scuba_diving' class="glyphicons scuba_diving" ng-click="iconClicked('scuba_diving')">&nbsp;</div>
        <div title='oxygen_bottle' class="glyphicons oxygen_bottle" ng-click="iconClicked('oxygen_bottle')">&nbsp;</div>
        <div title='fins' class="glyphicons fins" ng-click="iconClicked('fins')">&nbsp;</div>
        <div title='fishes' class="glyphicons fishes" ng-click="iconClicked('fishes')">&nbsp;</div>
        <div title='boat' class="glyphicons boat" ng-click="iconClicked('boat')">&nbsp;</div>
        <div title='delete' class="glyphicons delete" ng-click="iconClicked('delete')">&nbsp;</div>
        <div title='sheriffs_star' class="glyphicons sheriffs_star" ng-click="iconClicked('sheriffs_star')">&nbsp;</div>
        <div title='qrcode' class="glyphicons qrcode" ng-click="iconClicked('qrcode')">&nbsp;</div>
        <div title='barcode' class="glyphicons barcode" ng-click="iconClicked('barcode')">&nbsp;</div>
        <div title='pool' class="glyphicons pool" ng-click="iconClicked('pool')">&nbsp;</div>
        <div title='buoy' class="glyphicons buoy" ng-click="iconClicked('buoy')">&nbsp;</div>
        <div title='spade' class="glyphicons spade" ng-click="iconClicked('spade')">&nbsp;</div>
        <div title='bank' class="glyphicons bank" ng-click="iconClicked('bank')">&nbsp;</div>
        <div title='vcard' class="glyphicons vcard" ng-click="iconClicked('vcard')">&nbsp;</div>
        <div title='electrical_plug' class="glyphicons electrical_plug" ng-click="iconClicked('electrical_plug')">&nbsp;</div>
        <div title='flag' class="glyphicons flag" ng-click="iconClicked('flag')">&nbsp;</div>
        <div title='credit_card' class="glyphicons credit_card" ng-click="iconClicked('credit_card')">&nbsp;</div>
        <div title='keyboard-wireless' class="glyphicons keyboard-wireless" ng-click="iconClicked('keyboard-wireless')">&nbsp;</div>
        <div title='keyboard-wired' class="glyphicons keyboard-wired" ng-click="iconClicked('keyboard-wired')">&nbsp;</div>
        <div title='shield' class="glyphicons shield" ng-click="iconClicked('shield')">&nbsp;</div>
        <div title='ring' class="glyphicons ring" ng-click="iconClicked('ring')">&nbsp;</div>
        <div title='cake' class="glyphicons cake" ng-click="iconClicked('cake')">&nbsp;</div>
        <div title='drink' class="glyphicons drink" ng-click="iconClicked('drink')">&nbsp;</div>
        <div title='beer' class="glyphicons beer" ng-click="iconClicked('beer')">&nbsp;</div>
        <div title='fast_food' class="glyphicons fast_food" ng-click="iconClicked('fast_food')">&nbsp;</div>
        <div title='cutlery' class="glyphicons cutlery" ng-click="iconClicked('cutlery')">&nbsp;</div>
        <div title='pizza' class="glyphicons pizza" ng-click="iconClicked('pizza')">&nbsp;</div>
        <div title='birthday_cake' class="glyphicons birthday_cake" ng-click="iconClicked('birthday_cake')">&nbsp;</div>
        <div title='tablet' class="glyphicons tablet" ng-click="iconClicked('tablet')">&nbsp;</div>
        <div title='settings' class="glyphicons settings" ng-click="iconClicked('settings')">&nbsp;</div>
        <div title='bullets' class="glyphicons bullets" ng-click="iconClicked('bullets')">&nbsp;</div>
        <div title='cardio' class="glyphicons cardio" ng-click="iconClicked('cardio')">&nbsp;</div>
        <div title='t-shirt' class="glyphicons t-shirt" ng-click="iconClicked('t-shirt')">&nbsp;</div>
        <div title='pants' class="glyphicons pants" ng-click="iconClicked('pants')">&nbsp;</div>
        <div title='sweater' class="glyphicons sweater" ng-click="iconClicked('sweater')">&nbsp;</div>
        <div title='fabric' class="glyphicons fabric" ng-click="iconClicked('fabric')">&nbsp;</div>
        <div title='leather' class="glyphicons leather" ng-click="iconClicked('leather')">&nbsp;</div>
        <div title='scissors' class="glyphicons scissors" ng-click="iconClicked('scissors')">&nbsp;</div>
        <div title='bomb' class="glyphicons bomb" ng-click="iconClicked('bomb')">&nbsp;</div>
        <div title='skull' class="glyphicons skull" ng-click="iconClicked('skull')">&nbsp;</div>
        <div title='celebration' class="glyphicons celebration" ng-click="iconClicked('celebration')">&nbsp;</div>
        <div title='tea_kettle' class="glyphicons tea_kettle" ng-click="iconClicked('tea_kettle')">&nbsp;</div>
        <div title='french_press' class="glyphicons french_press" ng-click="iconClicked('french_press')">&nbsp;</div>
        <div title='coffe_cup' class="glyphicons coffe_cup" ng-click="iconClicked('coffe_cup')">&nbsp;</div>
        <div title='pot' class="glyphicons pot" ng-click="iconClicked('pot')">&nbsp;</div>
        <div title='grater' class="glyphicons grater" ng-click="iconClicked('grater')">&nbsp;</div>
        <div title='kettle' class="glyphicons kettle" ng-click="iconClicked('kettle')">&nbsp;</div>
        <div title='hospital' class="glyphicons hospital" ng-click="iconClicked('hospital')">&nbsp;</div>
        <div title='hospital_h' class="glyphicons hospital_h" ng-click="iconClicked('hospital_h')">&nbsp;</div>
        <div title='microphone' class="glyphicons microphone" ng-click="iconClicked('microphone')">&nbsp;</div>
        <div title='webcam' class="glyphicons webcam" ng-click="iconClicked('webcam')">&nbsp;</div>
        <div title='temple_christianity_church' class="glyphicons temple_christianity_church" ng-click="iconClicked('temple_christianity_church')">&nbsp;</div>
        <div title='temple_islam' class="glyphicons temple_islam" ng-click="iconClicked('temple_islam')">&nbsp;</div>
        <div title='temple_hindu' class="glyphicons temple_hindu" ng-click="iconClicked('temple_hindu')">&nbsp;</div>
        <div title='temple_buddhist' class="glyphicons temple_buddhist" ng-click="iconClicked('temple_buddhist')">&nbsp;</div>
        <div title='bicycle' class="glyphicons bicycle" ng-click="iconClicked('bicycle')">&nbsp;</div>
        <div title='life_preserver' class="glyphicons life_preserver" ng-click="iconClicked('life_preserver')">&nbsp;</div>
        <div title='share_alt' class="glyphicons share_alt" ng-click="iconClicked('share_alt')">&nbsp;</div>
        <div title='comments' class="glyphicons comments" ng-click="iconClicked('comments')">&nbsp;</div>
        <div title='flower' class="glyphicons flower" ng-click="iconClicked('flower')">&nbsp;</div>
        <div title='baseball' class="glyphicons baseball" ng-click="iconClicked('baseball')">&nbsp;</div>
        <div title='rugby' class="glyphicons rugby" ng-click="iconClicked('rugby')">&nbsp;</div>
        <div title='ax' class="glyphicons ax" ng-click="iconClicked('ax')">&nbsp;</div>
        <div title='table_tennis' class="glyphicons table_tennis" ng-click="iconClicked('table_tennis')">&nbsp;</div>
        <div title='bowling' class="glyphicons bowling" ng-click="iconClicked('bowling')">&nbsp;</div>
        <div title='tree_conifer' class="glyphicons tree_conifer" ng-click="iconClicked('tree_conifer')">&nbsp;</div>
        <div title='tree_deciduous' class="glyphicons tree_deciduous" ng-click="iconClicked('tree_deciduous')">&nbsp;</div>
        <div title='more_items' class="glyphicons more_items" ng-click="iconClicked('more_items')">&nbsp;</div>
        <div title='sort' class="glyphicons sort" ng-click="iconClicked('sort')">&nbsp;</div>
        <div title='filter' class="glyphicons filter" ng-click="iconClicked('filter')">&nbsp;</div>
        <div title='gamepad' class="glyphicons gamepad" ng-click="iconClicked('gamepad')">&nbsp;</div>
        <div title='playing_dices' class="glyphicons playing_dices" ng-click="iconClicked('playing_dices')">&nbsp;</div>
        <div title='calculator' class="glyphicons calculator" ng-click="iconClicked('calculator')">&nbsp;</div>
        <div title='tie' class="glyphicons tie" ng-click="iconClicked('tie')">&nbsp;</div>
        <div title='wallet' class="glyphicons wallet" ng-click="iconClicked('wallet')">&nbsp;</div>
        <div title='piano' class="glyphicons piano" ng-click="iconClicked('piano')">&nbsp;</div>
        <div title='sampler' class="glyphicons sampler" ng-click="iconClicked('sampler')">&nbsp;</div>
        <div title='podium' class="glyphicons podium" ng-click="iconClicked('podium')">&nbsp;</div>
        <div title='soccer_ball' class="glyphicons soccer_ball" ng-click="iconClicked('soccer_ball')">&nbsp;</div>
        <div title='blog' class="glyphicons blog" ng-click="iconClicked('blog')">&nbsp;</div>
        <div title='dashboard' class="glyphicons dashboard" ng-click="iconClicked('dashboard')">&nbsp;</div>
        <div title='certificate' class="glyphicons certificate" ng-click="iconClicked('certificate')">&nbsp;</div>
        <div title='bell' class="glyphicons bell" ng-click="iconClicked('bell')">&nbsp;</div>
        <div title='candle' class="glyphicons candle" ng-click="iconClicked('candle')">&nbsp;</div>
        <div title='pushpin' class="glyphicons pushpin" ng-click="iconClicked('pushpin')">&nbsp;</div>
        <div title='iphone_shake' class="glyphicons iphone_shake" ng-click="iconClicked('iphone_shake')">&nbsp;</div>
        <div title='pin_flag' class="glyphicons pin_flag" ng-click="iconClicked('pin_flag')">&nbsp;</div>
        <div title='turtle' class="glyphicons turtle" ng-click="iconClicked('turtle')">&nbsp;</div>
        <div title='rabbit' class="glyphicons rabbit" ng-click="iconClicked('rabbit')">&nbsp;</div>
        <div title='globe' class="glyphicons globe" ng-click="iconClicked('globe')">&nbsp;</div>
        <div title='briefcase' class="glyphicons briefcase" ng-click="iconClicked('briefcase')">&nbsp;</div>
        <div title='hdd' class="glyphicons hdd" ng-click="iconClicked('hdd')">&nbsp;</div>
        <div title='thumbs_up' class="glyphicons thumbs_up" ng-click="iconClicked('thumbs_up')">&nbsp;</div>
        <div title='thumbs_down' class="glyphicons thumbs_down" ng-click="iconClicked('thumbs_down')">&nbsp;</div>
        <div title='hand_right' class="glyphicons hand_right" ng-click="iconClicked('hand_right')">&nbsp;</div>
        <div title='hand_left' class="glyphicons hand_left" ng-click="iconClicked('hand_left')">&nbsp;</div>
        <div title='hand_up' class="glyphicons hand_up" ng-click="iconClicked('hand_up')">&nbsp;</div>
        <div title='hand_down' class="glyphicons hand_down" ng-click="iconClicked('hand_down')">&nbsp;</div>
        <div title='fullscreen' class="glyphicons fullscreen" ng-click="iconClicked('fullscreen')">&nbsp;</div>
        <div title='shopping_bag' class="glyphicons shopping_bag" ng-click="iconClicked('shopping_bag')">&nbsp;</div>
        <div title='book_open' class="glyphicons book_open" ng-click="iconClicked('book_open')">&nbsp;</div>
        <div title='nameplate' class="glyphicons nameplate" ng-click="iconClicked('nameplate')">&nbsp;</div>
        <div title='nameplate_alt' class="glyphicons nameplate_alt" ng-click="iconClicked('nameplate_alt')">&nbsp;</div>
        <div title='vases' class="glyphicons vases" ng-click="iconClicked('vases')">&nbsp;</div>
        <div title='bullhorn' class="glyphicons bullhorn" ng-click="iconClicked('bullhorn')">&nbsp;</div>
        <div title='dumbbell' class="glyphicons dumbbell" ng-click="iconClicked('dumbbell')">&nbsp;</div>
        <div title='suitcase' class="glyphicons suitcase" ng-click="iconClicked('suitcase')">&nbsp;</div>
        <div title='file_import' class="glyphicons file_import" ng-click="iconClicked('file_import')">&nbsp;</div>
        <div title='file_export' class="glyphicons file_export" ng-click="iconClicked('file_export')">&nbsp;</div>
        <div title='bug' class="glyphicons bug" ng-click="iconClicked('bug')">&nbsp;</div>
        <div title='crown' class="glyphicons crown" ng-click="iconClicked('crown')">&nbsp;</div>
        <div title='smoking' class="glyphicons smoking" ng-click="iconClicked('smoking')">&nbsp;</div>
        <div title='cloud-upload' class="glyphicons cloud-upload" ng-click="iconClicked('cloud-upload')">&nbsp;</div>
        <div title='cloud-download' class="glyphicons cloud-download" ng-click="iconClicked('cloud-download')">&nbsp;</div>
        <div title='restart' class="glyphicons restart" ng-click="iconClicked('restart')">&nbsp;</div>
        <div title='security_camera' class="glyphicons security_camera" ng-click="iconClicked('security_camera')">&nbsp;</div>
        <div title='expand' class="glyphicons expand" ng-click="iconClicked('expand')">&nbsp;</div>
        <div title='collapse' class="glyphicons collapse" ng-click="iconClicked('collapse')">&nbsp;</div>
        <div title='collapse_top' class="glyphicons collapse_top" ng-click="iconClicked('collapse_top')">&nbsp;</div>
        <div title='globe_af' class="glyphicons globe_af" ng-click="iconClicked('globe_af')">&nbsp;</div>
        <div title='global' class="glyphicons global" ng-click="iconClicked('global')">&nbsp;</div>
        <div title='spray' class="glyphicons spray" ng-click="iconClicked('spray')">&nbsp;</div>
        <div title='nails' class="glyphicons nails" ng-click="iconClicked('nails')">&nbsp;</div>
        <div title='claw_hammer' class="glyphicons claw_hammer" ng-click="iconClicked('claw_hammer')">&nbsp;</div>
        <div title='classic_hammer' class="glyphicons classic_hammer" ng-click="iconClicked('classic_hammer')">&nbsp;</div>
        <div title='hand_saw' class="glyphicons hand_saw" ng-click="iconClicked('hand_saw')">&nbsp;</div>
        <div title='riflescope' class="glyphicons riflescope" ng-click="iconClicked('riflescope')">&nbsp;</div>
        <div title='electrical_socket_eu' class="glyphicons electrical_socket_eu" ng-click="iconClicked('electrical_socket_eu')">&nbsp;</div>
        <div title='electrical_socket_us' class="glyphicons electrical_socket_us" ng-click="iconClicked('electrical_socket_us')">&nbsp;</div>
        <div title='message_forward' class="glyphicons message_forward" ng-click="iconClicked('message_forward')">&nbsp;</div>
        <div title='coat_hanger' class="glyphicons coat_hanger" ng-click="iconClicked('coat_hanger')">&nbsp;</div>
        <div title='dress' class="glyphicons dress" ng-click="iconClicked('dress')">&nbsp;</div>
        <div title='bathrobe' class="glyphicons bathrobe" ng-click="iconClicked('bathrobe')">&nbsp;</div>
        <div title='shirt' class="glyphicons shirt" ng-click="iconClicked('shirt')">&nbsp;</div>
        <div title='underwear' class="glyphicons underwear" ng-click="iconClicked('underwear')">&nbsp;</div>
        <div title='log_in' class="glyphicons log_in" ng-click="iconClicked('log_in')">&nbsp;</div>
        <div title='log_out' class="glyphicons log_out" ng-click="iconClicked('log_out')">&nbsp;</div>
        <div title='exit' class="glyphicons exit" ng-click="iconClicked('exit')">&nbsp;</div>
        <div title='new_window_alt' class="glyphicons new_window_alt" ng-click="iconClicked('new_window_alt')">&nbsp;</div>
        <div title='video_sd' class="glyphicons video_sd" ng-click="iconClicked('video_sd')">&nbsp;</div>
        <div title='video_hd' class="glyphicons video_hd" ng-click="iconClicked('video_hd')">&nbsp;</div>
        <div title='subtitles' class="glyphicons subtitles" ng-click="iconClicked('subtitles')">&nbsp;</div>
        <div title='sound_stereo' class="glyphicons sound_stereo" ng-click="iconClicked('sound_stereo')">&nbsp;</div>
        <div title='sound_dolby' class="glyphicons sound_dolby" ng-click="iconClicked('sound_dolby')">&nbsp;</div>
        <div title='sound_5_1' class="glyphicons sound_5_1" ng-click="iconClicked('sound_5_1')">&nbsp;</div>
        <div title='sound_6_1' class="glyphicons sound_6_1" ng-click="iconClicked('sound_6_1')">&nbsp;</div>
        <div title='sound_7_1' class="glyphicons sound_7_1" ng-click="iconClicked('sound_7_1')">&nbsp;</div>
        <div title='copyright_mark' class="glyphicons copyright_mark" ng-click="iconClicked('copyright_mark')">&nbsp;</div>
        <div title='registration_mark' class="glyphicons registration_mark" ng-click="iconClicked('registration_mark')">&nbsp;</div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-primary btn-default" ng-click="cancel($event)">Cancel</button>
        </div>
    </div>
</div>

