    <div class="facetsearch-container row">
        <div class="col-lg-12 col-md-12">
            <facetsearch data-results=""
                         data-touch-friendly="true"
                         data-results-template="/sales/views/templates/productResultPos.html"
                         data-search-url="sales/api/products"
                         data-history-url="sales/pos/Index"
                         data-field-labels="" max-page-size = "20">
            </facetsearch>
        </div>
    </div>
    <!--data-search-url="sales/api/products/search"-->