@{
    ViewBag.Title = "Spare Parts Report";
}

<div data-module="report/spareParts" ng-controller="sparePartsController" class="ng-scope report" ng-cloak>
    <div id="Parameters" class="section">Parameters</div>
    <div class="search row">&nbsp;</div>
    <div class="search row">
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label"> {{ dateDeliveredFromLabel }} </label>
                <div class="col col-lg-6" ng-class="{'has-error': !filterParameters.dateDeliveredFrom }">
                    <input required ui-date="linkDatePicker" ng-required ng-model="filterParameters.dateDeliveredFrom" placeholder="Delivered Date" class="date form-control" />
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label"> {{ dateDeliveredToLabel }} </label>
                <div class="col col-lg-6" ng-class="{'has-error': !filterParameters.dateDeliveredTo }">
                    <input required ui-date="linkDatePicker" ng-required ng-model="filterParameters.dateDeliveredTo" placeholder="Delivered Date" class="date form-control" />
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label"> {{ branchLabel }} </label>
                <div class="col col-lg-6">
                    <list name="listBranch" ng-model="filterParameters.branch" ng-required lookup="BRANCH" placeholder="Branch"></list>
                </div>
            </div>
        </div>
    </div>
    <p class="searchrow" />
    <div class="search row">
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label">Spare Part Usage</label>
                <div class="col col-lg-6">
                    <list name="listSource" ng-model="filterParameters.sparePartUsage" scope="SparePartUsage" placeholder="Spare Part Usage"></list>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="form-group">
                <label class="col col-lg-6 control-label">Part Source</label>
                <div class="col col-lg-6">
                    <list name="listSource" ng-model="filterParameters.partSource" scope="PartSource" placeholder="Part Source"></list>
                </div>
            </div>
        </div>
    </div>
    <p class="searchrow" />
    @{ Html.RenderPartial("GenericReportResult", ""); }
</div>