@{ ViewBag.Title = "Technician Payments"; }

@{
    var canEditTechnicianPayments = ViewBag.canEditTechnicianPayments;  
}
<div id="allTechnicianPayments" ng-controller='technicianPayments' data-module="service/technicianPayments" ng-cloak>

    <div class="col-lg-6 techPaymentsTechs">
        <div class="section">Technicians</div>
        <div class="row">
            <div class="col-lg-6"><input class="form-control" id="techFilter" type="text" ng-model="searchTechs" placeholder="Filter Technicians"/></div>
        </div>
        <p>&nbsp;</p>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="setColumnWidth">
                    <th></th>
                    <th>Technician Name</th>
                    <th>Total Due</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="technician in technicians | filter:searchTechs"
                    ng-class="{'active': technician.active}">
                    <td><button class="select btn btn-default form-control" ng-click="setActive(technician)">Select</button></td>
                    <td><a ng-href="{{goProfile(technician.TechnicianId)}}">{{technician.FullName}}</a></td>
                    <td class="text-right">{{technician.Total | currency : culture.CurrencySymbol : culture.DecimalPlaces}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 techPaymentsPayments">
        <div class="section col-lg-12">Payments for {{ selectedTechnician.FullName }}</div>
        <div class="col-lg-12">
            <div class="filterTable row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label" for="paymentsFrom">Payments From</label>
                        <input class="form-control" id="paymentsFrom" type="text" ng-model="dateFrom" ui-date="datePicker" ui-reset name="TechnicianPaymentsFrom"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label" for="paymentsTo">Payments To</label>
                        <input class="form-control" id="paymentsTo" type="text" ng-model="dateTo" ui-date="datePicker" ui-reset name="TechnicianPaymentsTo"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label" for="statusFilter">Status Filter</label>
                        <select class="picklist" id="statusFilter" ui-select2 ng-model="type">
                            <option value="All">All</option>
                            <option value="D">Deleted</option>
                            <option value="H">On Hold</option>
                            <option value="P">Paid</option>
                            <option value="">Pending</option>
                        </select>
                    </div>
                </div>
                @if (canEditTechnicianPayments)
                {
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="paymentsTo">Service Request</label>
                            <input class="form-control" ui-reset id="requestFilter" type="text" ng-model="requestFilters" ng-model="requestFilters"/>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="section"></div>
                <div class="col-lg-2"> 
                    <button class="btn btn-default form-control" ng-click="search()" ng-class="{false:'disabled', true:'click'}[canSearch()]">Search</button>
                </div>
                <div class="col-lg-2"> 
                    <button class="btn btn-default form-control" ng-click="clear()">Clear</button>
                </div>
                @if (canEditTechnicianPayments)
                {
                    <div class="col-lg-2">
                        <button class="pay btn btn-primary" ng-click="pay()">Pay</button>
                    </div>
                }
            </div>
            <p>&nbsp;</p>
        </div>
        @Html.Partial("TechnicianPaymentsDisplay")
    </div>
</div>