@{
    ViewBag.Title = "Pick List Reference";
}
@{
    Layout = "~/Views/Shared/_Print.cshtml";
}

@section head{
     <style type="text/css">
    </style>
    }
<div class="centre reference">
    <h1 style="text-align: center">Pick List Reference Sheet</h1>
</div>
<div class="reference centre">
    <h2>Broken</h2>
      @Html.Barcode("RR$Broken", BarcodeLib.TYPE.CODE128, 200, 100,true)
</div>
<div class="reference centre">
    <h2>No Stock</h2>
      @Html.Barcode("RR$NoStock", BarcodeLib.TYPE.CODE128, 200, 100, true)
</div>

<div class="reference centre">
    <h2>Other</h2>
      @Html.Barcode("RR$Other", BarcodeLib.TYPE.CODE128, 200, 100,true)
</div>

<div class="reference centre">
    <h2>Monkeys</h2>
      @Html.Barcode("RR$Monkeys", BarcodeLib.TYPE.CODE128, 200, 100, true)
</div>


