<div id="divLegend">
	<div class="cosacs-legend-warehouse">
		<div class="express">
			Express</div>
	</div>
	<div class="cosacs-legend-warehouse">
		<div class="cancelled">
			Cancelled</div>
	</div>
	<div class="cosacs-legend-warehouse">
		<div class="locked">
			Locked</div>
	</div>
    <div class="cosacs-legend-warehouse">
		<div class="rejected">
			Rejected</div>
	</div>
	<div style="clear: both">
	</div>
</div>