<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="elmah">
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <appSettings>
        <add key="logFile" value="\\STL\\Courts.NET\\logs\\Courts.NET.log" />
        <add key="logLevel" value="none" />
        <add key="commandTimeout" value="7200" />
        <add key="soapTrace" value="\\STL\\Courts.NET\\logs\\SOAPTrace.log" />
        <add key="httpTrace" value="\\STL\\Courts.NET\\logs\\HTTPTrace.xml" />
        <add key="httpTraceSwitch" value="false" />
        <add key="bureauUrl" value="https://www.creditscan.com.sg/cgi2" />
        <add key="bureauUser" value="AA03JOYCE" />
        <add key="bureauPassword" value="JOYCE01" />
        <add key="bureauPrefix" value="https://www.creditscan.com.sg/" />
        <add key="bureauUseProxy" value="false" />
        <add key="agreementLineItems" value="5" />
        <add key="performanceLog" value="false" />
        <!--//CR 866 Added the following in for second credit bureau -->
        <add key="Courts.NET.BLL.CreditBureau2.CourtsWs" value="http://www.questnet.sg/courtsws/courtsws.asmx" />
        <!--<add key="Courts.NET.BLL.CreditBureau2.CourtsWs" value="http://localhost:1784/WebSite1/Service.asmx"/>-->
        <add key="bureauUser2" value="courtstest" />
        <add key="bureauEnqCode" value="396" />
        <add key="webpages:Enabled" value="true" />
        <add key="loginUrl" value="~/logon" />
        <add key="WebSiteURL" value="http://localhost" />
        <!-- Proxy Settings. Leave host empty for no proxy.-->
        <add key="proxyHost" value="" />
        <add key="proxyPort" value="" />
        <add key="proxyUser" value="" />
        <add key="proxyPass" value="" />
    </appSettings>
    <location path="servicestack.ashx">
        <system.web>
            <httpHandlers>
                <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
            </httpHandlers>
        </system.web>
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="true" />
            <validation validateIntegratedModeConfiguration="false" />
            <handlers>
                <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <authentication mode="Forms">
            <forms name=".CoSaCS" loginUrl="~/logon" protection="All" timeout="60" path="/" />
        </authentication>
        <authorization>
            <allow users="*" />
        </authorization>
        <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
            <compilers>
                <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" />
            </compilers>
            <assemblies>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <!--<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <customErrors mode="Off" />
        <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root.  -->
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
        <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".-->
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
        <httpModules>
            <add name="WebServiceAuthentication" type="STL.Common.WebServiceAuthenticationModule, Courts.NET.Common" />
        </httpModules>
        <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" executionTimeout="60000" />
        <!-- 10MB -->
        <!--Added this to allow pages to override application request validation settings-->
        <!-- GLOBALIZATION This section sets the globalization settings of the application.  -->
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
        <xhtmlConformance mode="Legacy" />
        <!--
            Remove the *.config handler so that we_can serve up
            *.exe.config files, but make it forbidden to serve up the
            web.config file itself.
        -->
        <httpHandlers>
            <remove verb="*" path="*.config" />
            <add verb="*" path="web.config" type="System.Web.HttpForbiddenHandler" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <webServices>
            <soapExtensionTypes>
                <add type="Blue.Elmah.ElmahSoapExtension, Blue.Elmah" priority="1" group="1" />
            </soapExtensionTypes>
        </webServices>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <modules runAllManagedModulesForAllRequests="true">
            <!--<add name="WebServiceAuthentication" type="STL.Common.WebServiceAuthenticationModule, Courts.NET.Common"/>-->
        </modules>
        <handlers></handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <elmah>
        <errorLog type="Blue.Elmah.AwsSnsErrorLog, Blue.Elmah" connectionStringName="Default" subjectPrefix="DEV" awsAccessKeyId="AKIAIHZENRM7JSD53S2A" awsSecretAccessKey="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" topicArn="arn:aws:sns:us-east-1:254349539982:Cosacs-Errors" />
        <errorFilter>
            <test>
                <not>
                    <regex binding="BaseException.Message" pattern="Timeout" />
                </not>
            </test>
        </errorFilter>
    </elmah>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Elmah" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.11517.0" newVersion="1.1.11517.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.60.0" newVersion="1.0.60.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AWSSDK" publicKeyToken="cd2d24cd2bace800" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.2" newVersion="1.5.2.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.35.0" newVersion="1.5.35.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
            </dependentAssembly>
      <dependentAssembly>
          <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FileHelpers" publicKeyToken="3e0c08d59cc3d657" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>