/*<meta />*/

p.MyStyle
{
	margin: 0px;
	font-size: 10pt;
	font-family: Arial;
	padding-bottom: 5px;
}

img
{
	border: none;
}

a.Popup
{
	
}

h1
{
	font-family: Arial;
}

h1.CH1
{
	font-family: Arial;
}

span.CH2
{
	font-size: 14pt;
}

h2.CH2
{
	font: Arial;
	font-family: Arial;
	font-size: 14pt;
}

p.cp
{
	font: Arial;
	font-size: 10pt;
}

h3.ch3
{
	font-size: 10pt;
	color: #000000;
	font-family: Arial;
}

p.bullets
{
	font: Arial;
	font-size: 10pt;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 10px;
	font-style: inherit;
	text-indent: 0px;
}

h3
{
	font: Arial;
}

p.reset
{
	margin: 0px;
	font-size: 10pt;
	font-family: Arial;
	mc-auto-number-format: '{ =0}';
}

p.Index5
{
	font: Arial;
	font-size: 10pt;
}

ol
{
	font: Arial;
	font-size: 10pt;
	font-family: Arial;
}

li
{
	font: Arial;
	font-size: 10pt;
	padding-bottom: 10px;
}

dropDownHead
{
	font: Arial;
	font-size: 10pt;
	font-family: Arial;
}

expandingHead
{
	color: #000000;
}

li.lileft
{
	font: Arial;
	font-size: 10pt;
	padding-bottom: 10px;
	font-family: Arial;
	text-indent: 2px;
}

td.tdc
{
	font-family: Arial;
	font-size: 10pt;
	padding: 10px;
}

table.MyTable
{
	padding: 10px;
	font-family: Arial;
	font-size: 10pt;
	border: solid 2px;
	border-bottom: solid 1px;
	border-bottom-color: #000000;
	border-color: #000000;
	border-left: solid 1px;
	border-right: solid 1px;
	border-style: solid;
	border-top: solid 1px;
	mc-table-style: url('CoSACS Help.css');
	background-color: #ffffff;
	left: 40px;
}

tbody
{
	border: solid 1px;
	font-family: Arial;
	font-size: 10pt;
}

td
{
	border: solid 1px;
	background-color: #e0ffff;
}

table
{
	border: solid 1px;
	mc-table-style: url('CoSACS Help.css');
}

tr
{
	border-color: #000000;
	border: solid 2px;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}

p.hyperlink
{
	font-family: Arial;
	font-size: 8pt;
}

ul.nikkilist
{
	list-style-type: square;
	font-size: 10pt;
	font-family: Arial;
}

p.nikkiindex
{
	font-family: Arial;
	font-size: 8pt;
	color: #9932cc;
}

p
{
	font-family: Arial;
	font-size: 10pt;
}

ul
{
	font-family: Arial;
	font-size: 10pt;
}

p.p_1
{
	margin: 0px;
	padding-bottom: 5px;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}

ol.ol_1
{
	font: Arial;
	margin: 0px;
	padding-bottom: 5px;
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul.ul_1
{
	list-style-type: square;
	margin: 0px;
	padding-bottom: 5px;
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.li_1
{
	font: Arial;
	margin: 0px;
	padding-bottom: 5px;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-size: 10pt;
}

td.td_1
{
	padding: 10px;
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

p.Heading2
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 14pt;
}

p.BodyText
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

li.BodyText
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

table.TableGrid
{
	border-collapse: collapse;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Times;
	margin-left: 0pt;
	mc-table-style: url('CoSACS Help.css');
}

xref.ContinueTo
{
	mc-format: '(continued in {title})';
}

xref.ContinueFrom
{
	mc-format: '(continued from {title})';
}

span.span_1
{
	font-weight: bold;
}

li.li_2
{
	list-style-type: disc;
}

ul.ul_2
{
	list-style-type: square;
	margin-left: 36pt;
}

li.li_3
{
	list-style-type: circle;
}

ul.ul_3
{
	list-style-type: circle;
	margin-left: 72pt;
}

span.span_2
{
	font-family: Arial;
}

li.BodyText_1
{
	font-family: Tahoma;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.BodyText_2
{
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
}

ul.ul_4
{
	list-style-type: circle;
	margin-left: 90pt;
}

ul.ul_5
{
	list-style-type: square;
	margin-left: 54pt;
}

p.Heading3
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 13pt;
}

p.Heading4
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 4;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 14pt;
}

p.Caption
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 12pt;
	text-align: center;
	font-family: NewCenturySchlbk;
	font-weight: bold;
	font-size: 10pt;
}

p.p_2
{
	font-size: 8pt;
}

td.td_2
{
	background-color: #0000FF;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
	font-family: Arial;
	font-size: 8pt;
}

td.td_3
{
	border-top-width: 1pt;
	border-top-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
	background-color: #add8e6;
}

td.td_4
{
	border-left-width: 1pt;
	border-left-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
	background-color: #add8e6;
}

td.td_5
{
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

span.span_3
{
	font-size: 8pt;
}

p.Heading2_1
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	font-size: 10pt;
}

p.Heading4_1
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 4;
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}

li.BodyText_3
{
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 18pt;
	font-family: Arial;
}

li.BodyText_4
{
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 54pt;
	font-family: Arial;
}

ol.ol_2
{
	list-style-type: decimal;
	margin-left: 18pt;
}

p.BodyText_1
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	font-family: Arial;
}

span.span_4
{
	text-decoration: underline;
}

span.span_5
{
	font-family: Arial;
	font-size: 10pt;
}

span.span_6
{
	font-family: Arial;
	text-decoration: underline;
}

ol.ol_5
{
	font-family: Arial;
}

p.p_3
{
	margin: 0px;
	padding-bottom: 5px;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

ol.ol_3
{
	font: Arial;
	margin: 0px;
	padding-bottom: 5px;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

ul.ul_6
{
	list-style-type: square;
	margin: 0px;
	padding-bottom: 5px;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

li.li_4
{
	font: Arial;
	margin: 0px;
	padding-bottom: 5px;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	font-size: 10pt;
}

td.td_6
{
	font-size: 10pt;
	padding: 10px;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	vertical-align: top;
}

p.Header
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Arial;
	font-weight: bold;
	color: #333333;
	font-size: 8pt;
}

p.Footer
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-family: Arial;
	color: #808080;
	font-size: 8pt;
}

p.Heading1
{
	page-break-inside: avoid;
	margin-top: 6pt;
	page-break-after: avoid;
	page-break-before: always;
	margin-bottom: 12pt;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 16pt;
}

span.span_7
{
	margin-right: 13pt;
}

p.Heading1_1
{
	page-break-inside: avoid;
	page-break-after: avoid;
	page-break-before: always;
	mc-heading-level: 1;
	font-family: Arial;
	font-weight: bold;
	font-size: 16pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	text-align: justify;
}

td.td_7
{
	background-color: #auto;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

td.td_8
{
	background-color: #auto;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

p.p_4
{
	font-weight: bold;
}

td.td_9
{
	border-left-width: 1pt;
	border-left-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #add8e6;
}

td.td_10
{
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #add8e6;
}

img.img_1
{
	z-index: 1;
	mso-position-horizontal-relative: text;
	mso-position-vertical-relative: text;
	margin-left: 94.05pt;
}

span.span_8
{
	font-weight: bold;
	font-family: Wingdings;
}

span.span_9
{
	color: #000000;
}

table.table_1
{
	border-collapse: collapse;
	mc-table-style: url('CoSACS Help.css');
}

p.CommentText
{
	page-break-inside: avoid;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
}

span.span_10
{
	margin-right: 31pt;
}

li.li_5
{
	page-break-inside: avoid;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

p.Heading2_2
{
	font-style: italic;
	margin-bottom: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	font-size: 14pt;
}

p.Heading3_1
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
}

p.Heading4_2
{
	font-size: 14pt;
	margin-top: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-bottom: 0pt;
	mc-heading-level: 4;
	font-family: Tahoma;
	font-weight: normal;
}

span.span_11
{
	margin-right: 8pt;
}

p.Heading2_2_1
{
	font-style: italic;
	margin-bottom: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 2;
	font-family: Arial;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 6pt;
	margin-left: 0pt;
}

span.span_12
{
	margin-right: 10pt;
}

p.Heading3_1_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 3;
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

ol.ol_4
{
	list-style-type: decimal;
	margin-left: 54pt;
}

span.span_13
{
	font-family: 'Times New Roman';
	color: #0000FF;
	font-size: 12pt;
}

ol.ol_6
{
	list-style-type: decimal;
	margin-left: 108pt;
}

li.li_6
{
	page-break-inside: avoid;
	margin-top: 0pt;
	margin-bottom: 4pt;
}

ul.ul_7
{
	list-style-type: square;
	margin-left: 72pt;
}

li.BodyText_5
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-inside: avoid;
	font-family: Tahoma;
}

p.BodyText_2
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-inside: avoid;
	font-family: Tahoma;
}

table.TableGrid_1
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-collapse: collapse;
	font-family: 'Times New Roman';
	margin-left: 0pt;
	mc-table-style: url('CoSACS Help.css');
}

li.BodyText_5_1
{
	font-size: 10pt;
	page-break-inside: avoid;
	font-family: Tahoma;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

ul.ul_8
{
	list-style-type: square;
	margin-left: 71pt;
}

p.BodyText_2_1
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-inside: avoid;
	font-family: Tahoma;
	margin-left: 53pt;
}

p.BodyText_2_2
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-inside: avoid;
	font-family: Tahoma;
	margin-left: 0pt;
	color: #000000;
}

td.td_11
{
	border-top-width: 1pt;
	border-top-color: black;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

td.td_12
{
	border-top-width: 1pt;
	border-top-color: black;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

p.BodyText_2_3
{
	font-size: 10pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	page-break-inside: avoid;
	font-family: Tahoma;
	margin-left: 0pt;
}

table.TableGrid_1_1
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-collapse: collapse;
	font-family: 'Times New Roman';
	margin-left: 62pt;
	mc-table-style: url('CoSACS Help.css');
}

p.p_5
{
	margin-left: 54pt;
}

p.p_6
{
	margin-bottom: 4pt;
}

span.span_14
{
	color: #808080;
	font-size: 10pt;
}

span.span_15
{
	color: #808080;
}

span.span_16
{
	color: #808080;
	margin-left: 371pt;
}

span.span_17
{
	margin-left: 79pt;
}

span.span_18
{
	margin-left: 137pt;
}

table.MyTable2
{
	padding: 10px;
	font-family: Arial;
	font-size: 10pt;
	border: solid 2px;
	border-bottom: solid 1px;
	border-bottom-color: #000000;
	border-color: #000000;
	border-left: solid 1px;
	border-right: solid 1px;
	border-style: solid;
	border-top: solid 1px;
	mc-table-style: url('CoSACS Help.css');
	background-color: #ffffff;
	left: 40px;
}

