<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MbUnit" publicKeyToken="eb9cfa67ee6ab36e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SessionFactoryBrowser" value="chrome" />
    <add key="SessionFactoryWaitInSecs" value="60" />
    <add key="SessionFactoryBaseUrl" value="http://Grid0:10090/" />
    <add key="SessionFactoryHubUrl" value="http://localhost:4444/wd/hub" />
    <add key="Branch1" value="740 COURTS" />
    <add key="Branch2" value="741 COURTS" />
    <add key="Branch3" value="742 COURTS" />
    <add key="Branch4" value="743 COURTS" />
    <add key="Branch5" value="744 COURTS" />
    <add key="Branch6" value="745 COURTS" />
    <add key="Branch7" value="746 COURTS" />
    <add key="Branch8" value="747 COURTS" />
    <add key="Branch9" value="748 COURTS" />
    <add key="Branch10" value="749 COURTS" />
    <add key="Branch11" value="750 COURTS" />
    <add key="Branch12" value="751 LUCKY DOLLAR" />
    <add key="Branch13" value="752 COURTS" />
    <add key="Branch14" value="960 COURTS" />
    <add key="Branch15" value="969 COURTS" />
    <add key="Branch16" value="999 WAREHOUSE" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=$CoSACS-Grid-Master;Data Source=GRID0"  providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>