@{
    ViewBag.Title = "Style Test Page";
}

<div>
<select style="width: 150px">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
</select>
<button type="submit">Button</button>
<button id="error" type="submit">Error</button>
<input type="submit" value="Input Submit"/>
</div>
<div>
    Sample Pick List: <select id="pickListSample1" data-pick-list-id="TEST" class="span3"></select>
</div>
<div class="section">Some Section</div>
<table class="data">
    <thead>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Footer 1</td>
            <td>Footer 2</td>
            <td>Footer 3</td>
        </tr>
    </tfoot>
</table>

<div class="section">Icons</div>

<div class="icons-test">
<span class="ui-icon ui-icon-carat-1-n" title=".ui-icon-carat-1-n"></span>
<span class="ui-icon ui-icon-carat-1-ne" title=".ui-icon-carat-1-ne"></span>
<span class="ui-icon ui-icon-carat-1-e" title=".ui-icon-carat-1-e"></span>
<span class="ui-icon ui-icon-carat-1-se" title=".ui-icon-carat-1-se"></span>
<span class="ui-icon ui-icon-carat-1-s" title=".ui-icon-carat-1-s"></span>
<span class="ui-icon ui-icon-carat-1-sw" title=".ui-icon-carat-1-sw"></span>
<span class="ui-icon ui-icon-carat-1-w" title=".ui-icon-carat-1-w"></span>
<span class="ui-icon ui-icon-carat-1-nw" title=".ui-icon-carat-1-nw"></span>
<span class="ui-icon ui-icon-carat-2-n-s" title=".ui-icon-carat-2-n-s"></span>
<span class="ui-icon ui-icon-carat-2-e-w" title=".ui-icon-carat-2-e-w"></span>
<span class="ui-icon ui-icon-triangle-1-n" title=".ui-icon-triangle-1-n"></span>
<span class="ui-icon ui-icon-triangle-1-ne" title=".ui-icon-triangle-1-ne"></span>
<span class="ui-icon ui-icon-triangle-1-e" title=".ui-icon-triangle-1-e"></span>
<span class="ui-icon ui-icon-triangle-1-se" title=".ui-icon-triangle-1-se"></span>
<span class="ui-icon ui-icon-triangle-1-s" title=".ui-icon-triangle-1-s"></span>
<span class="ui-icon ui-icon-triangle-1-sw" title=".ui-icon-triangle-1-sw"></span>
<span class="ui-icon ui-icon-triangle-1-w" title=".ui-icon-triangle-1-w"></span>
<span class="ui-icon ui-icon-triangle-1-nw" title=".ui-icon-triangle-1-nw"></span>
<span class="ui-icon ui-icon-triangle-2-n-s" title=".ui-icon-triangle-2-n-s"></span>
<span class="ui-icon ui-icon-triangle-2-e-w" title=".ui-icon-triangle-2-e-w"></span>
<span class="ui-icon ui-icon-arrow-1-n" title=".ui-icon-arrow-1-n"></span>
<span class="ui-icon ui-icon-arrow-1-ne" title=".ui-icon-arrow-1-ne"></span>
<span class="ui-icon ui-icon-arrow-1-e" title=".ui-icon-arrow-1-e"></span>
<span class="ui-icon ui-icon-arrow-1-se" title=".ui-icon-arrow-1-se"></span>
<span class="ui-icon ui-icon-arrow-1-s" title=".ui-icon-arrow-1-s"></span>
<span class="ui-icon ui-icon-arrow-1-sw" title=".ui-icon-arrow-1-sw"></span>
<span class="ui-icon ui-icon-arrow-1-w" title=".ui-icon-arrow-1-w"></span>
<span class="ui-icon ui-icon-arrow-1-nw" title=".ui-icon-arrow-1-nw"></span>
<span class="ui-icon ui-icon-arrow-2-n-s" title=".ui-icon-arrow-2-n-s"></span>
<span class="ui-icon ui-icon-arrow-2-ne-sw" title=".ui-icon-arrow-2-ne-sw"></span>
<span class="ui-icon ui-icon-arrow-2-e-w" title=".ui-icon-arrow-2-e-w"></span>
<span class="ui-icon ui-icon-arrow-2-se-nw" title=".ui-icon-arrow-2-se-nw"></span>
<span class="ui-icon ui-icon-arrowstop-1-n" title=".ui-icon-arrowstop-1-n"></span>
<span class="ui-icon ui-icon-arrowstop-1-e" title=".ui-icon-arrowstop-1-e"></span>
<span class="ui-icon ui-icon-arrowstop-1-s" title=".ui-icon-arrowstop-1-s"></span>
<span class="ui-icon ui-icon-arrowstop-1-w" title=".ui-icon-arrowstop-1-w"></span>
<span class="ui-icon ui-icon-arrowthick-1-n" title=".ui-icon-arrowthick-1-n"></span>
<span class="ui-icon ui-icon-arrowthick-1-ne" title=".ui-icon-arrowthick-1-ne"></span>
<span class="ui-icon ui-icon-arrowthick-1-e" title=".ui-icon-arrowthick-1-e"></span>
<span class="ui-icon ui-icon-arrowthick-1-se" title=".ui-icon-arrowthick-1-se"></span>
<span class="ui-icon ui-icon-arrowthick-1-s" title=".ui-icon-arrowthick-1-s"></span>
<span class="ui-icon ui-icon-arrowthick-1-sw" title=".ui-icon-arrowthick-1-sw"></span>
<span class="ui-icon ui-icon-arrowthick-1-w" title=".ui-icon-arrowthick-1-w"></span>
<span class="ui-icon ui-icon-arrowthick-1-nw" title=".ui-icon-arrowthick-1-nw"></span>
<span class="ui-icon ui-icon-arrowthick-2-n-s" title=".ui-icon-arrowthick-2-n-s"></span>
<span class="ui-icon ui-icon-arrowthick-2-ne-sw" title=".ui-icon-arrowthick-2-ne-sw"></span>
<span class="ui-icon ui-icon-arrowthick-2-e-w" title=".ui-icon-arrowthick-2-e-w"></span>
<span class="ui-icon ui-icon-arrowthick-2-se-nw" title=".ui-icon-arrowthick-2-se-nw"></span>
<span class="ui-icon ui-icon-arrowthickstop-1-n" title=".ui-icon-arrowthickstop-1-n"></span>
<span class="ui-icon ui-icon-arrowthickstop-1-e" title=".ui-icon-arrowthickstop-1-e"></span>
<span class="ui-icon ui-icon-arrowthickstop-1-s" title=".ui-icon-arrowthickstop-1-s"></span>
<span class="ui-icon ui-icon-arrowthickstop-1-w" title=".ui-icon-arrowthickstop-1-w"></span>
<span class="ui-icon ui-icon-arrowreturnthick-1-w" title=".ui-icon-arrowreturnthick-1-w"></span>
<span class="ui-icon ui-icon-arrowreturnthick-1-n" title=".ui-icon-arrowreturnthick-1-n"></span>
<span class="ui-icon ui-icon-arrowreturnthick-1-e" title=".ui-icon-arrowreturnthick-1-e"></span>
<span class="ui-icon ui-icon-arrowreturnthick-1-s" title=".ui-icon-arrowreturnthick-1-s"></span>
<span class="ui-icon ui-icon-arrowreturn-1-w" title=".ui-icon-arrowreturn-1-w"></span>
<span class="ui-icon ui-icon-arrowreturn-1-n" title=".ui-icon-arrowreturn-1-n"></span>
<span class="ui-icon ui-icon-arrowreturn-1-e" title=".ui-icon-arrowreturn-1-e"></span>
<span class="ui-icon ui-icon-arrowreturn-1-s" title=".ui-icon-arrowreturn-1-s"></span>
<span class="ui-icon ui-icon-arrowrefresh-1-w" title=".ui-icon-arrowrefresh-1-w"></span>
<span class="ui-icon ui-icon-arrowrefresh-1-n" title=".ui-icon-arrowrefresh-1-n"></span>
<span class="ui-icon ui-icon-arrowrefresh-1-e" title=".ui-icon-arrowrefresh-1-e"></span>
<span class="ui-icon ui-icon-arrowrefresh-1-s" title=".ui-icon-arrowrefresh-1-s"></span>
<span class="ui-icon ui-icon-arrow-4" title=".ui-icon-arrow-4"></span>
<span class="ui-icon ui-icon-arrow-4-diag" title=".ui-icon-arrow-4-diag"></span>
<span class="ui-icon ui-icon-extlink" title=".ui-icon-extlink"></span>
<span class="ui-icon ui-icon-newwin" title=".ui-icon-newwin"></span>
<span class="ui-icon ui-icon-refresh" title=".ui-icon-refresh"></span>
<span class="ui-icon ui-icon-shuffle" title=".ui-icon-shuffle"></span>
<span class="ui-icon ui-icon-transfer-e-w" title=".ui-icon-transfer-e-w"></span>
<span class="ui-icon ui-icon-transferthick-e-w" title=".ui-icon-transferthick-e-w"></span>
<span class="ui-icon ui-icon-folder-collapsed" title=".ui-icon-folder-collapsed"></span>
<span class="ui-icon ui-icon-folder-open" title=".ui-icon-folder-open"></span>
<span class="ui-icon ui-icon-document" title=".ui-icon-document"></span>
<span class="ui-icon ui-icon-document-b" title=".ui-icon-document-b"></span>
<span class="ui-icon ui-icon-note" title=".ui-icon-note"></span>
<span class="ui-icon ui-icon-mail-closed" title=".ui-icon-mail-closed"></span>
<span class="ui-icon ui-icon-mail-open" title=".ui-icon-mail-open"></span>
<span class="ui-icon ui-icon-suitcase" title=".ui-icon-suitcase"></span>
<span class="ui-icon ui-icon-comment" title=".ui-icon-comment"></span>
<span class="ui-icon ui-icon-person" title=".ui-icon-person"></span>
<span class="ui-icon ui-icon-print" title=".ui-icon-print"></span>
<span class="ui-icon ui-icon-trash" title=".ui-icon-trash"></span>
<span class="ui-icon ui-icon-locked" title=".ui-icon-locked"></span>
<span class="ui-icon ui-icon-unlocked" title=".ui-icon-unlocked"></span>
<span class="ui-icon ui-icon-bookmark" title=".ui-icon-bookmark"></span>
<span class="ui-icon ui-icon-tag" title=".ui-icon-tag"></span>
<span class="ui-icon ui-icon-home" title=".ui-icon-home"></span>
<span class="ui-icon ui-icon-flag" title=".ui-icon-flag"></span>
<span class="ui-icon ui-icon-calendar" title=".ui-icon-calendar"></span>
<span class="ui-icon ui-icon-cart" title=".ui-icon-cart"></span>
<span class="ui-icon ui-icon-pencil" title=".ui-icon-pencil"></span>
<span class="ui-icon ui-icon-clock" title=".ui-icon-clock"></span>
<span class="ui-icon ui-icon-disk" title=".ui-icon-disk"></span>
<span class="ui-icon ui-icon-calculator" title=".ui-icon-calculator"></span>
<span class="ui-icon ui-icon-zoomin" title=".ui-icon-zoomin"></span>
<span class="ui-icon ui-icon-zoomout" title=".ui-icon-zoomout"></span>
<span class="ui-icon ui-icon-search" title=".ui-icon-search"></span>
<span class="ui-icon ui-icon-wrench" title=".ui-icon-wrench"></span>
<span class="ui-icon ui-icon-gear" title=".ui-icon-gear"></span>
<span class="ui-icon ui-icon-heart" title=".ui-icon-heart"></span>
<span class="ui-icon ui-icon-star" title=".ui-icon-star"></span>
<span class="ui-icon ui-icon-link" title=".ui-icon-link"></span>
<span class="ui-icon ui-icon-cancel" title=".ui-icon-cancel"></span>
<span class="ui-icon ui-icon-plus" title=".ui-icon-plus"></span>
<span class="ui-icon ui-icon-plusthick" title=".ui-icon-plusthick"></span>
<span class="ui-icon ui-icon-minus" title=".ui-icon-minus"></span>
<span class="ui-icon ui-icon-minusthick" title=".ui-icon-minusthick"></span>
<span class="ui-icon ui-icon-close" title=".ui-icon-close"></span>
<span class="ui-icon ui-icon-closethick" title=".ui-icon-closethick"></span>
<span class="ui-icon ui-icon-key" title=".ui-icon-key"></span>
<span class="ui-icon ui-icon-lightbulb" title=".ui-icon-lightbulb"></span>
<span class="ui-icon ui-icon-scissors" title=".ui-icon-scissors"></span>
<span class="ui-icon ui-icon-clipboard" title=".ui-icon-clipboard"></span>
<span class="ui-icon ui-icon-copy" title=".ui-icon-copy"></span>
<span class="ui-icon ui-icon-contact" title=".ui-icon-contact"></span>
<span class="ui-icon ui-icon-image" title=".ui-icon-image"></span>
<span class="ui-icon ui-icon-video" title=".ui-icon-video"></span>
<span class="ui-icon ui-icon-script" title=".ui-icon-script"></span>
<span class="ui-icon ui-icon-alert" title=".ui-icon-alert"></span>
<span class="ui-icon ui-icon-info" title=".ui-icon-info"></span>
<span class="ui-icon ui-icon-notice" title=".ui-icon-notice"></span>
<span class="ui-icon ui-icon-help" title=".ui-icon-help"></span>
<span class="ui-icon ui-icon-check" title=".ui-icon-check"></span>
<span class="ui-icon ui-icon-bullet" title=".ui-icon-bullet"></span>
<span class="ui-icon ui-icon-radio-off" title=".ui-icon-radio-off"></span>
<span class="ui-icon ui-icon-radio-on" title=".ui-icon-radio-on"></span>
<span class="ui-icon ui-icon-pin-w" title=".ui-icon-pin-w"></span>
<span class="ui-icon ui-icon-pin-s" title=".ui-icon-pin-s"></span>
<span class="ui-icon ui-icon-play" title=".ui-icon-play"></span>
<span class="ui-icon ui-icon-pause" title=".ui-icon-pause"></span>
<span class="ui-icon ui-icon-seek-next" title=".ui-icon-seek-next"></span>
<span class="ui-icon ui-icon-seek-prev" title=".ui-icon-seek-prev"></span>
<span class="ui-icon ui-icon-seek-end" title=".ui-icon-seek-end"></span>
<span class="ui-icon ui-icon-seek-start" title=".ui-icon-seek-start"></span>
<span class="ui-icon ui-icon-stop" title=".ui-icon-stop"></span>
<span class="ui-icon ui-icon-eject" title=".ui-icon-eject"></span>
<span class="ui-icon ui-icon-volume-off" title=".ui-icon-volume-off"></span>
<span class="ui-icon ui-icon-volume-on" title=".ui-icon-volume-on"></span>
<span class="ui-icon ui-icon-power" title=".ui-icon-power"></span>
<span class="ui-icon ui-icon-signal-diag" title=".ui-icon-signal-diag"></span>
<span class="ui-icon ui-icon-signal" title=".ui-icon-signal"></span>
<span class="ui-icon ui-icon-battery-0" title=".ui-icon-battery-0"></span>
<span class="ui-icon ui-icon-battery-1" title=".ui-icon-battery-1"></span>
<span class="ui-icon ui-icon-battery-2" title=".ui-icon-battery-2"></span>
<span class="ui-icon ui-icon-battery-3" title=".ui-icon-battery-3"></span>
<span class="ui-icon ui-icon-circle-plus" title=".ui-icon-circle-plus"></span>
<span class="ui-icon ui-icon-circle-minus" title=".ui-icon-circle-minus"></span>
<span class="ui-icon ui-icon-circle-close" title=".ui-icon-circle-close"></span>
<span class="ui-icon ui-icon-circle-triangle-e" title=".ui-icon-circle-triangle-e"></span>
<span class="ui-icon ui-icon-circle-triangle-s" title=".ui-icon-circle-triangle-s"></span>
<span class="ui-icon ui-icon-circle-triangle-w" title=".ui-icon-circle-triangle-w"></span>
<span class="ui-icon ui-icon-circle-triangle-n" title=".ui-icon-circle-triangle-n"></span>
<span class="ui-icon ui-icon-circle-arrow-e" title=".ui-icon-circle-arrow-e"></span>
<span class="ui-icon ui-icon-circle-arrow-s" title=".ui-icon-circle-arrow-s"></span>
<span class="ui-icon ui-icon-circle-arrow-w" title=".ui-icon-circle-arrow-w"></span>
<span class="ui-icon ui-icon-circle-arrow-n" title=".ui-icon-circle-arrow-n"></span>
<span class="ui-icon ui-icon-circle-zoomin" title=".ui-icon-circle-zoomin"></span>
<span class="ui-icon ui-icon-circle-zoomout" title=".ui-icon-circle-zoomout"></span>
<span class="ui-icon ui-icon-circle-check" title=".ui-icon-circle-check"></span>
<span class="ui-icon ui-icon-circlesmall-plus" title=".ui-icon-circlesmall-plus"></span>
<span class="ui-icon ui-icon-circlesmall-minus" title=".ui-icon-circlesmall-minus"></span>
<span class="ui-icon ui-icon-circlesmall-close" title=".ui-icon-circlesmall-close"></span>
<span class="ui-icon ui-icon-squaresmall-plus" title=".ui-icon-squaresmall-plus"></span>
<span class="ui-icon ui-icon-squaresmall-minus" title=".ui-icon-squaresmall-minus"></span>
<span class="ui-icon ui-icon-squaresmall-close" title=".ui-icon-squaresmall-close"></span>
<span class="ui-icon ui-icon-grip-dotted-vertical" title=".ui-icon-grip-dotted-vertical"></span>
<span class="ui-icon ui-icon-grip-dotted-horizontal" title=".ui-icon-grip-dotted-horizontal"></span>
<span class="ui-icon ui-icon-grip-solid-vertical" title=".ui-icon-grip-solid-vertical"></span>
<span class="ui-icon ui-icon-grip-solid-horizontal" title=".ui-icon-grip-solid-horizontal"></span>
<span class="ui-icon ui-icon-gripsmall-diagonal-se" title=".ui-icon-gripsmall-diagonal-se"></span>
<span class="ui-icon ui-icon-grip-diagonal-se" title=".ui-icon-grip-diagonal-se"></span>
</div>

@section Script
{
    <script>
        require(['jquery', 'jquery.pickList'], function ($) {
            $('#pickListSample1').pickList();
            $('#error').on('click', function () {
                throw new Error("Test JavaScript errors handler!");
            });
        });
    </script>
}