 <div id="footer" class="grid_16">
    <p class="masterFooter">
        &copy; <a href="http://www.bluebridgeltd.com/">Blue Bridge Solutions Ltd</a> 2010&nbsp;&nbsp;&nbsp;(version: @Html.Version())<br /> 
        For any comments and queries please contact us on <a href="mailto:support@bluebridgeltd.com">support@bluebridgeltd.com</a>
    </p> 
</div>