 <footer id="footer" class="navbar-inverse navbar-fixed-bottom hidden-print">
    <div class="container">
        <p class="pull-left">
            &copy; <a href="https://www.zensar.com">Unicomer powered by Zensar</a> @DateTime.Now.Year&nbsp;&nbsp;&nbsp;(@Html.Version())<br /> 
        </p>
        <p class="pull-right" id="FooterBranch">
            @Html.DefaultBranchName() 
        </p> 
    </div>
</footer>